<div class="row expanded">

  <div class="columns medium-12 margin-top-xlarge">
    <div class="columns medium-6">
      Shortlabel:"name"
    </div>
      <div class="columns medium-6">
      Interaction Type: "interaction type"
    </div>
  </div>

  <div class="columns medium-12 margin-top-xlarge">
    <div id="extXrefs" class="columns medium-6">
      <iv-external-xrefs></iv-external-xrefs>
    </div>
    <div id="curationAnnotations" class="columns medium-6">
      <iv-curation-annotations></iv-curation-annotations>
    </div>
  </div>

  <div class="columns medium-12 margin-top-large">
    <div id="experimentalConditions" class="columns medium-6">
      <iv-experimental-conditions></iv-experimental-conditions>
    </div>
    <div id="parameters" class="columns medium-3">
      <iv-parameters></iv-parameters>
    </div>
    <div id="confidences" class="columns medium-3">
      <iv-confidences></iv-confidences>
    </div>

  </div>
</div>
