<div class="row expanded">
  <div class="columns medium-12 margin-top-small margin-bottom-large callout-details padding-top-medium padding-left-xlarge padding-right-xlarge padding-bottom-large">

    <h5 class="padding-top-large"><i id="toggleDetails" class="icon icon-common icon-minus padding-right-small"
                                     (click)="toggleDetailsButton()"
                                     (mouseover)="hover=true" (mouseleave)="hover=false"
                                     [ngStyle]="{cursor: hover==true ? 'pointer' : 'default'}" ></i> Interaction Details </h5>
    <div id="detailsPanel" class="columns margin-top-small margin-bottom-large">

      <div class="columns medium-12 margin-top-large">
        <div class="columns medium-12 margin-top-medium margin-bottom-medium">
          InteractionAc: {{interactionDetails.interactionAc}}
        </div>
        <div class="columns medium-12 margin-top-medium margin-bottom-medium">
          Shortlabel: {{interactionDetails.shortLabel}}
        </div>
        <div class="columns medium-12 margin-top-medium margin-bottom-medium">
          Interaction Type: {{interactionDetails.interactionType}}
        </div>
      </div>


      <div class="columns medium-12 margin-top-large">
        <div id="extXrefs" class="columns medium-6" *ngIf="interactionDetails.xrefs.length!=0">
          <iv-external-xrefs *ngIf="interactionDetails.xrefs"
                             [xrefs]="interactionDetails.xrefs"></iv-external-xrefs>
        </div>
        <div id="curationAnnotations" class="columns medium-6" *ngIf="interactionDetails.annotations.length!=0">
          <iv-curation-annotations *ngIf="interactionDetails.annotations"
                                   [annotations]="interactionDetails.annotations"></iv-curation-annotations>
        </div>
      </div>

      <div class="columns medium-12 margin-top-large">
        <!--<div id="experimentalConditions" class="columns medium-6">-->
          <!--<iv-experimental-conditions></iv-experimental-conditions>-->
        <!--</div>-->
        <div *ngIf="interactionDetails.parameters.length!=0" id="parameters" class="columns medium-6">
          <iv-parameters *ngIf="interactionDetails.parameters"
                         [parameters]="interactionDetails.parameters"></iv-parameters>
        </div>
        <div *ngIf="interactionDetails.confidences.length!=0" id="confidences" class="columns medium-6">
          <iv-confidences *ngIf="interactionDetails.confidences"
                          [confidences]="interactionDetails.confidences"></iv-confidences>
        </div>
      </div>

    </div>
  </div>

  <iv-experiment [interactionExperiment]="interactionDetails.experiment"></iv-experiment>

</div>
