<div id="twitter" class="margin-top-large">
  <h4>
    <a href="https://twitter.com/intact_project" target="_blank" matTooltip="Follow us" matTooltipPosition="left">
      <i id="twitter-logo" class="icon icon-socialmedia" data-icon="T"></i>
    </a> Tweets
  </h4>

  <div class="margin-top-large margin-bottom-large">
    <a class="twitter-timeline"
       data-lang="en"
       data-height="300"
       data-theme="light"
       data-chrome="nofooter noheader noborders"
       data-link-color="#007c82"
       href="https://twitter.com/intact_project">
      Tweets by IntAct</a>
  </div>
</div>
