<div id="twitter" class="margin-top-medium">
  <h4>
    <i class="icon icon-common icon-external-systems"></i>
    Social Media
  </h4>

  <bsky-embed username="ebi.embl.org" custom-styles="
        img[alt='profile picture'] {
            display: none;
        }

        section {
            align-items: baseline;
            max-height: 406px;
            overflow-y: overlay;
            overflow-x: clip;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        }

        .p-4 {
            padding: 0.75rem;
        }

        .max-w-screen-sm {
            min-width: 280px;
        }
  "></bsky-embed>

  <div class="margin-top-medium">
    <a href="https://twitter.com/intact_project?ref_src=twsrc%5Etfw"
       class="twitter-follow-button"
       data-size="large"
       data-show-count="false">
      Follow @intact_project
    </a>
  </div>
</div>
