<p>
  DETAILS SECTION
</p>

<div class=" margin-top-large margin-bottom-large">

  <ul class="tabs" data-tabs id="details-tabs">
    <li class="tabs-title is-active"><a href="#interactionDetails" aria-selected="true" >Interaction Details</a></li>
    <li class="tabs-title"><a href="#experiment">Experiment</a></li>
    <li class="tabs-title"><a href="#publication">Publication</a></li>
    <li class="tabs-title"><a href="#interactors" >Interactors</a></li>
    <li class="tabs-title"><a href="#features" >Features</a></li>
  </ul>

  <div class="tabs-content" data-tabs-content="details-tabs">
    <div class="tabs-panel is-active" id="interactionDetails" style="background-color:#f4f4f4;">
      <p> Interaction Details section </p>
      <iv-details-info></iv-details-info>
    </div>

    <div class="tabs-panel" id="experiment" style="background-color:#f4f4f4;">
      <p> Experiment section </p>
    </div>

    <div class="tabs-panel" id="publication" style="background-color:#f4f4f4;">
      <p> Publication section </p>
    </div>

    <div class="tabs-panel" id="interactors" style="background-color:#f4f4f4;">
      <p> Interactors section </p>
    </div>

    <div class="tabs-panel" id="features" style="background-color:#f4f4f4;">
      <p> Features section </p>
    </div>

  </div>

</div>
