<div class="columns medium-4">

  <h4><i id="togglePublication" class="icon icon-common icon-minus icon-spacer"
                                   (click)="togglePublicationButton()"
                                   (mouseover)="hover=true" (mouseleave)="hover=false"
                                   [ngStyle]="{cursor: hover==true ? 'pointer' : 'default'}" ></i>Publication</h4>

  <div id="publicationPanel" class="margin-top-large margin-bottom-large">

    <div class="margin-top-large margin-bottom-large">
      <h5>PubMed Identifier</h5>
      {{publication.pubmedId}}
    </div>
    <div class="margin-top-large margin-bottom-large">
      <h5>Title</h5>
      {{publication.title}}
    </div>
    <div class="margin-top-large margin-bottom-large">
      <h5>Journal</h5>
      {{publication.journal}}
    </div>
    <div class="margin-top-large margin-bottom-large">
      <h5>Authors</h5>
      {{publication.authors}}
    </div>
    <div class="margin-top-large margin-bottom-xlarge">
      <h5>Publication date</h5>
      {{publication.publicationDate}}
    </div>

    <div id="extXrefs" class="margin-top-large" *ngIf="publication.publicationXrefs.length !== 0">
      <ip-external-xrefs *ngIf="publication.publicationXrefs"
                         [xrefs]="publication.publicationXrefs"></ip-external-xrefs>
    </div>
    <div id="curationAnnotations" class="margin-top-large" *ngIf="publication.publicationAnnotations.length !== 0">
      <ip-curation-annotations *ngIf="publication.publicationAnnotations"
                               [annotations]="publication.publicationAnnotations"></ip-curation-annotations>
    </div>
  </div>

</div>
