<div class="row expanded">
  <div class="columns medium-12">
    <h2 class="padding-left-large">Search for {{interactionAc}}</h2>
  </div>
</div>

<div class="row expanded">

  <div class="columns medium-12">
    <ip-details-viewer *ngIf="interactionAc"
                       [interactionAc]="interactionAc"
                       [featureAc]="featureSelected"
                       [participantsId]="participantsSelected"></ip-details-viewer>
  </div>

  <div class="columns medium-12">
    <ip-details-tabs *ngIf="interactionAc"
                     [interactionAc]="interactionAc"
                     (featureChanged)="onFeatureSelectedChanged($event)"
                     (participantChanged)="onParticipantSelectedChanged($event)"></ip-details-tabs>
  </div>

</div>
