<div class="row expanded" *ngIf="interactionAc; else noInteractor;">
  <div class="button-bar">
    <h2 class="padding-left-large">Details of {{interactionAc}}</h2>

    <div class="button-group rounded float-right margin-right-medium" id="detail-export" style="margin-left: 17px;">
      <div class="button no-hover">
        <i class="icon icon-functional icon-spacer icon-share"></i> Export
      </div>

      <button class="button lighter adjust-width no-horizontal-padding" type="button" data-toggle="export-viewer">
        View
      </button>
      <div class="dropdown-pane no-padding no-border" id="export-viewer" data-dropdown data-hover="true"
           data-hover-pane="true">
        <ul class="no-bullet no-margin">
          <li><a class="button lightest expanded" download="{{interactionAc}}.svg" id="SVG-download"
                 (click)="exportSVG()">SVG</a></li>
        </ul>
      </div>

      <button class="button lighter adjust-width" type="button" data-toggle="export-table">
        Interaction
      </button>
      <div class="dropdown-pane no-padding no-border" id="export-table" data-dropdown data-hover="true"
           data-hover-pane="true">
        <ul class="no-bullet no-margin">

          <li *ngFor="let format of formatTypes; let last = last;">
            <a class="button lightest expanded" [ngClass]="{'no-margin':last}"
               [download]="interactionAc + '.' + format.extension"
               [href]="downloadURL(format)" [innerHTML]="format.html"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row expanded" *ngIf="!error; else errorBlock;">

  <div>
    <ip-details-viewer [interactionAc]="interactionAc"
                       [featureAc]="featureSelected"
                       (error)="searchError($event)"></ip-details-viewer>
  </div>

  <div class="columns medium-12">
    <ip-details-tabs [interactionAc]="interactionAc"
                     (featureChanged)="onFeatureSelectedChanged($event)"></ip-details-tabs>
  </div>

</div>

<ng-template #errorBlock>
  <div class="row expanded margin-top-large margin-bottom-large margin-left-medium margin-right-medium">
    <div class="columns medium-12">
      <div class="alert-panel">
        <h3><i class="icon icon-common icon-exclamation-triangle"></i> <b>{{interactionAc}}</b> not found</h3>
        No interactions were found for the given accession number: <b>{{interactionAc}}</b><br>
        This can be due to:
        <ul>
          <li>An incomplete accession number (format: EBI-XXXXXXX)</li>
          <li>A spelling mistake</li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noInteractor>
  <div class="row expanded margin-top-large margin-bottom-large margin-left-medium margin-right-medium">
    <div class="columns medium-12">
      <div class="alert-panel">
        <h3><i class="icon icon-common icon-exclamation-triangle"></i> Missing parameter</h3>
        Could not find any interaction accession number in the url.<br>
        Please add one to retrieve the details of the related interaction.<br>
        An accession number follow the following format: <b>EBI-XXXXXXX</b>
      </div>
    </div>
  </div>
</ng-template>
