<div class="row expanded">

  <iv-column-toggle [columnNames]="columnNames"
                    [dataTable]="dataTable"
                    [columnView]="columnView"></iv-column-toggle>

  <table id="participantTable" class="display">
    <thead>
    <tr>
      <th>Ac</th>
      <th>Type</th>
      <th>Identifier</th>
      <th>Aliases</th>
      <th>Description</th>
      <th>Species</th>
      <th>Expression System</th>
      <th>Detection Method</th>
      <th>Experimental Role</th>
      <th>Biological Role</th>
      <th>Experimental Preparations</th>
      <th>Parameters</th>
      <th>Confidences</th>
      <th>Cross References</th>
      <th>Annotations</th>
    </tr>
    </thead>

    <tbody>
    </tbody>

  </table>

</div>
