<div class="row expanded">
  <div *ngIf="participantDetails">
    <div>Total of participants: {{participantDetails.totalElements}}</div>
  </div>

  <!--<div class="row columns medium-12">-->
    <!--<div class="columns medium-6">-->
      <!--Toggle column: <a class="toggle-vis" data-column="0">Ac</a> - -->
      <!--<a class="toggle-vis" data-column="1">Type</a> - -->
      <!--<a class="toggle-vis" data-column="2">Identifier</a> - -->
      <!--<a class="toggle-vis" data-column="3">Aliases</a> - -->
      <!--<a class="toggle-vis" data-column="4">Description</a> - -->
      <!--<a class="toggle-vis" data-column="5">Species</a>-->
    <!--</div>-->

    <!--<div class="columns medium-6 medium-push-9">-->
      <!--<h4>View in the list </h4>-->

      <!--<input type="checkbox" name="list"  data-column="0" value="Ac" checked> Ac <br>-->
      <!--<input type="checkbox" name="list" data-column="1" value="Type" checked> Type <br>-->
      <!--<input type="checkbox" name="list" data-column="2" value="Identifier" checked> Identifier <br>-->
      <!--<input type="checkbox" name="list" data-column="3" value="Aliases"> Aliases <br>-->
      <!--<input type="checkbox" name="list" data-column="4" value="Description"> Description <br>-->
      <!--<input type="checkbox" name="list" data-column="5" value="Species"> Species <br>-->
      <!--<input type="checkbox" name="list" data-column="6" value="Expression System"> Expression System <br>-->
      <!--<input type="checkbox" name="list" data-column="7" value="Detection Method"> Detection Method <br>-->
      <!--<input type="checkbox" name="list" data-column="8" value="Experimental Role"> Experimental Role <br>-->
      <!--<input type="checkbox" name="list" data-column="9" value="Experimental Preparations"> Experimental Preparations <br>-->
      <!--<input type="checkbox" name="list" data-column="10" value="Parameters"> Parameters <br>-->
      <!--<input type="checkbox" name="list" data-column="11" value="Confidences"> Confidences-->

    <!--</div>-->
  <!--</div>-->

  <div class="columns margin-top-large">
    <table id="participantTable">
      <thead>
      <tr>
        <th>Ac</th>
        <th>Type</th>
        <th>Identifier</th>
        <th>Aliases</th>
        <th>Description</th>
        <th>Species</th>
        <th>Expression System</th>
        <th>Detection Method</th>
        <th>Experimental Role</th>
        <th>Biological Role</th>
        <th>Experimental Preparations</th>
        <th>Parameters</th>
        <th>Confidences</th>
      </tr>
      </thead>

      <tbody>
      <!--<tr *ngFor="let participant of participantDetails.content">-->
      <!--<td>{{participant.participantAc}}</td>-->
      <!--<td>{{participant.type.shortName}}</td>-->
      <!--<td>{{participant.participantId.identifier}}</td>-->
      <!--<td>-->
      <!--<div *ngIf="participant.aliases != null">-->
      <!--<div *ngFor="let alias of participant.aliases">-->
      <!--<span>{{alias.name}}</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--</td>-->
      <!--<td>{{participant.description}}</td>-->
      <!--<td>{{participant.species.scientificName}}</td>-->
      <!--<td>-->
      <!--<span *ngIf="participant.expressionSystem !=null">{{participant.expressionSystem.scientificName}}</span>-->
      <!--</td>-->
      <!--<td>-->
      <!--<div *ngIf="participant.detectionMethod != null">-->
      <!--<div *ngFor="let dm of participant.detectionMethod">-->
      <!--<span>{{dm.shortName}}</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--</td>-->
      <!--<td>{{participant.experimentalRole.shortName}}</td>-->
      <!--<td>{{participant.biologicalRole.shortName}}</td>-->
      <!--<td>-->
      <!--<div *ngIf="participant.experimentalPreparations != null">-->
      <!--<div *ngFor="let ep of participant.experimentalPreparations">-->
      <!--<span>{{ep.shortName}}</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--</td>-->
      <!--<td>-->
      <!--<div *ngIf="participant.parameters != null">-->
      <!--<div *ngFor="let parameter of participant.parameters">-->
      <!--<span>{{parameter.type}} ({{parameter.value}}</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--</td>-->
      <!--<td>-->
      <!--<div *ngIf="participant.confidences != null">-->
      <!--<div *ngFor="let confidence of participant.confidences">-->
      <!--<span>{{confidence.type}} ({{confidence.value}}</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--</td>-->
      <!--</tr>-->

      </tbody>

    </table>
  </div>

</div>
