<div class="row expanded">

  <iv-column-toggle [columnNames]="columnNames"
                    [dataTable]="dataTable"
                    [columnView]="columnView"></iv-column-toggle>

  <table id="featureTable" class="display tableDisplay">
    <thead>
    <tr>
      <th class="row-Selection"></th>
      <th class="row-Ac">Ac</th>
      <th class="row-Name">Name</th>
      <th class="row-Type">Type</th>
      <th class="row-Role">Role</th>
      <th class="row-Range">Range Positions</th>
      <th class="row-LinkedFeatures">Linked Features</th>
      <th class="row-PartName">Participant Name</th>
      <th class="row-PartId">Participant Identifier</th>
      <th class="row-PartAc">Participant Ac</th>
      <th class="row-DetMethod">Detection Methods</th>
      <th class="row-Parameters">Parameters</th>
      <th class="row-Identifiers">Identifiers</th>
      <th class="row-Xrefs">Cross References</th>
      <th class="row-Annotations">Annotations</th>
    </tr>
    </thead>

    <tbody>
    </tbody>

  </table>

</div>
