<div class="row expanded">

  <iv-column-toggle [columnNames]="columnNames"
                    [dataTable]="dataTable"
                    [columnView]="columnView"></iv-column-toggle>

  <table id="featureTable" class="display tableDisplay">
    <thead>
    <tr>
      <th class="featureTable-Selection"></th>
      <th class="featureTable-Ac">Ac</th>
      <th class="featureTable-Name">Name</th>
      <th class="featureTable-Type">Type</th>
      <th class="featureTable-Role">Role</th>
      <th class="featureTable-Range">Range Positions</th>
      <th class="featureTable-LinkedFeatures">Linked Features</th>
      <th class="featureTable-PartName">Participant Name</th>
      <th class="featureTable-PartId">Participant Identifier</th>
      <th class="featureTable-PartAc">Participant Ac</th>
      <th class="featureTable-DetMethod">Detection Methods</th>
      <th class="featureTable-Parameters">Parameters</th>
      <th class="featureTable-Identifiers">Identifiers</th>
      <th class="featureTable-Xrefs">Cross References</th>
      <th class="featureTable-Annotations">Annotations</th>
    </tr>
    </thead>

    <tbody>
    </tbody>

  </table>

</div>
