<div class="row expanded">

  <table id="featureTable" class="display">
    <thead>
    <tr>
      <th>Ac</th>
      <th>Name</th>
      <th>Type</th>
      <th>Role</th>
      <th>Range Positions</th>
      <th>Linked Features</th>
      <th>Participant Name</th>
      <th>Participant Identifier</th>
      <th>Participant Ac</th>
      <th>Detection Methods</th>
      <th>Parameters</th>
      <th>Identifiers</th>
      <th>Cross References</th>
      <th>Annotations</th>
    </tr>
    </thead>

    <tbody>
    </tbody>

  </table>

</div>
