div#graphViewerContainer{
  /*clear: both;*/
  /*!*position:absolute;*!*/
  /*!*bottom:0px;*!*/
  /*!*top:0px;*!*/
height: 600px;
background: #fbfbfb;
position: relative;
/*width: 150%;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*overflow: hidden;*/
/*!*margin: 8px;*!*/
/*!*margin-right:35%;*!*/
/*!*width: 150px;*!*/
/*background: #ddd;*/
/*!*padding: 10px;*!*/
/*display: table-cell;*/
/*vertical-align: top;*/
}
/*div#networkControls {*/
/*clear: both;*/
/*float: left;*/
/*margin-left: 5%;*/
/*}*/

/*svg {*/
/*overflow: hidden;*/
/*}*/

/*svg:not(:root) {*/
/*overflow: visible !important;*/
/*}*/

#complexViewerSVG {
  height: 100%;
  width: 100%;
  display: block;
}
#for-canvas-graph {
  height: 100%;
  width: 65%;
  top: 0%;
  left: 0%;
  display: block;
}
#legend{
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 70%;
  font-size: 0.7vw;
}
#legend > div > h3{
  font-size: 0.9375rem;
  font-weight: bold;
}

#suggestions_div{
  width: 30%;
  height: 10%;
  position: absolute;
  top: 0.5%;
  left: 38%;
}

#suggestions_div > input{
  width: 31%;
}
