.underline {
  border-bottom-style: solid;
  border-color: #5a2e6e3d;
}

#for-canvas-graph {
  height: 750px;
  background: #fbfbfb;
}

/* Legend adjustments */
#node-color-legend,
#node-shape-legend,
#node-border-legend,
#compound-node-color-legend,
#edge-color-legend,
#edge-thickness-legend,
#edge-shapes-legend {
  /* margin-bottom-large */
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#node-color-legend img,
#node-border-legend img,
#compound-node-color-legend img {
  height: 1.5rem;
  padding-right: 0.3rem;
  margin-bottom: 0.1rem;
  font-size: 14px;
}

#node-shape-legend img {
  height: 1.5rem;
  width: 2rem;
  padding-right: 0.3rem;
  margin-bottom: 0.1rem;
  font-size: 14px;
}

#edge-color-legend img {
  padding-right: 0.3rem;
  font-size: 14px;
}

#edge-thickness-legend img,
#edge-shapes-legend img {
  width: 3rem;
  padding-right: 0.3rem;
  font-size: 14px;
}
