.hidden {
  visibility: hidden;
}

.underline {
  border-bottom-style: solid;
  border-color: #5a2e6e3d;
}

#for-canvas-graph {
  flex-grow: 1;
  background: #fbfbfb;
  min-height: 40vh;
}

/* Legend adjustments */
#node-color-legend,
#node-shape-legend,
#node-border-legend,
#compound-node-color-legend,
#edge-color-legend,
#edge-thickness-legend,
#edge-shapes-legend {
  /* margin-bottom-large */
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#node-color-legend img,
#node-border-legend img,
#compound-node-color-legend img {
  height: 1.5rem;
  padding-right: 0.3rem;
  margin-bottom: 0.1rem;
  font-size: 14px;
}

#node-shape-legend img {
  height: 1.5rem;
  width: 2rem;
  padding-right: 0.3rem;
  margin-bottom: 0.1rem;
  font-size: 14px;
}

#edge-color-legend img {
  padding-right: 0.3rem;
  font-size: 14px;
}

#edge-thickness-legend img,
#edge-shapes-legend img {
  width: 3rem;
  padding-right: 0.3rem;
  font-size: 14px;
}

.download-graph-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#download-png,
#download-graphml {
  flex: 1 1 0;
  margin: 5px;
}

#network-viewer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

#toolbar-column {
  /*flex: 1;*/
  padding-left: 0;
  order: 0;
}

#viewer-column {
  /*flex: 1;*/
  display: flex;
  flex-direction: column;
  order: 1;
}

#legend-column {
  /*flex: 1;*/
  padding-right: 0;
  order: 2;
}

@media print, screen and (max-width: 40em) {
  /* Small size screen */
  #viewer-column {
    order: 1;
  }

  body:after {
    content: 'small';
    display: none;
  }
}
@media print, screen and (min-width: 40em) {
  /* Medium size screen */
  #viewer-column {
    order: 3;
  }

  body:after {
    content: 'medium';
    display: none;
  }
}
@media print, screen and (min-width: 64em) {
  /* Large size screen */
  #viewer-column {
    order: 1;
  }

  body:after {
    content: 'large';
    display: none;
  }
}
