<div id="elixir-banner"
     data-color="blue"
     data-name="IntAct"
     data-description="IntAct is an ELIXIR Core Data Resource"
     data-use-cdr-logo="true"
     data-more-information-link="https://elixir-europe.org/platforms/data/core-data-resources"
     data-use-basic-styles="true">
  <div id="elixir-ribbon" class="elixir-ribbon">
    <div class="row">

      <div class="column column-double">
        <a href="https://elixir-europe.org/platforms/data/core-data-resources" target="_blank">
          <div class="elixir-logo-kite"></div>
          <h5>
            <span class="elixir-banner-name">IntAct</span> is part of the ELIXIR infrastructure
          </h5>
          <div id="elixir-banner-info">
            <small>
              <span class="elixir-banner-description">IntAct is an ELIXIR Core Data Resource </span>
              <span class="readmore">Learn more ›</span>
            </small>
          </div>
        </a>
      </div>
      <div class="column column-double">
        <a href="https://globalbiodata.org/scientific-activities/global-core-biodata-resources/" target="_blank" id ="GBCR-container">
          <img src="assets/images/others/GCBR-Logo-RGB_WcircleBG.png" id="GBCR-logo">
          <div>
            <h5>
              <span class="elixir-banner-name">IntAct</span> is a Global Core Biodata Resource
            </h5>
            <div id="gcbr-banner-info">
              <small>
                <span class="readmore">Learn more ›</span>
              </small>
            </div>
          </div>
        </a>
      </div>
      <div class="column column-single column-centered">
        <a href="https://www.ebi.ac.uk/licencing" target="_blank" id ="licensing">Licensing</a>
        <a href="https://www.ebi.ac.uk/long-term-data-preservation" target="_blank" id ="data-preservation">Data Preservation</a>
      </div>

    </div>
  </div>
</div>
