.node-line,
.edge-line {
  padding-left: 5pt;
  background: #fbfbfb;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.node-line {
  height: 22pt;
}
.edge-line {
  height: 17pt;
}

.node-line span,
.edge-line span{
  vertical-align: middle;
  padding-left: 4pt;
}

.edge-line:last-child {
  padding-bottom: 21pt;
}

h5 {
  margin-bottom: 0;
  margin-top: 0.5rem;
}


.network-legend-label {
}
