.icon-species {
  font-size: 100px;
  color: #80727f;
  line-height: 100px;
}

a {
  align-self: center;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  padding: 1.5em 1em;
  border-radius: 12px;
  height: 100%;
}

.flex-spacer {
  flex: 1;
}

div.actions {
  text-align: center;
}

.button-group {
  justify-content: center;
}

.species-button {
  padding: 1em;
  color: #68297c;
  border-radius: 200em;
  margin: 1em;
  border: none;
  cursor: pointer;
}

.species-button:hover {
  opacity: 0.9;
  box-shadow: 0 0 20px #68297c;
}

button.download-button {
  border: 2px solid #68297c;
  border-radius: 25px;
  color: #68297c;
}
