<div class="card" *ngIf="interactome.symbol">
  <div class="medium-12">
    <b>{{interactome.scientificName}}</b><br>
    {{interactome.nameDetails}}
  </div>
  <a href="https://www.uniprot.org/taxonomy/{{interactome.taxid}}" target="_blank">{{interactome.taxid}}</a>

  <div class="flex-spacer"></div>
  <div class="medium-12" style="text-align: center">
      <button (click)="search(interactome.name)" class="species-button">
        <span attr.data-icon="{{interactome.symbol}}" style="color: #68297c"
              [ngClass]="{'icon ': true,'icon-species': interactome.symbol !== '?', 'icon-functional': interactome.symbol === '?'}">
        </span>
      </button>
  </div>
  <div class="actions">
      <button mat-raised-button color="primary" (click)="goToInteractomePSI25()">miXML 2.5</button>
      <button mat-raised-button color="primary" (click)="goToInteractomePSI30()">miXML 3.0</button>
  </div>
</div>

