.tabs-panel[_ngcontent-c4] {
  background: #cec2d4 !important;
}

#search-tabs{
  border: 1px solid #cec2d4;
}

.tabs-title > a {
  font-size: 0.9rem;
  color: #3e3e3e;
}
.tabs-title > a:hover {
  background: #672e7b85;/*#7d96a75c; /*#57b2b787*/
  color: #0a0a0a;
}
.tabs-title > a:focus,
.tabs-title > a[aria-selected='true'] {
  color: #3e3e3e;
  background: rgba(90, 46, 110, 0.29);
}

#home-search-button {
  background-color: #0185B3;
  border-radius: 5px;
}

#home-search-button.button:focus, #home-search-button.button:hover, #home-search-button.button.hover {
  background-color: #1da1f2;
}

.callout-advanced {
  background-color: #f6f4f6;
  border-radius: 5px;
  border: 1px solid #CCC;
}
