<div id="search" class="row">

    <ul class="tabs" data-tabs id="search-tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Quick Search</a></li>
      <li class="tabs-title"><a href="#panel2">Batch Search</a></li>
      <!-- We disable the advance search for now until we are able to provide it to the users-->
      <!-- <li class="tabs-title"><a href="#panel3">Advanced Search</a></li>-->
    </ul>

    <div class="tabs-content" data-tabs-content="search-tabs">

      <!--TAB MAIN SEARCH SECTION-->
      <div class="tabs-panel is-active" id="panel1">
           <fieldset>
            <div id="searchBox" class="input-group margin-bottom-none">
              <input #query class="typeahead input-group-field" type="text" (keydown.enter)="search(query.value, 'enter')"
                     placeholder="Gene name(s), UniProt AC(s), Pubmed, Protein name(s), Complex Ac"/>
              <div class="input-group-button">
                <input id="home-search-button" type="button" name="submit" value="1" (click)="search(query.value, 'button')"
                       class="button icon icon-functional">
              </div>
            </div>
          </fieldset>
      </div>

      <!--TAB BATCH SEARCH SECTION-->
      <div class="tabs-panel" id="panel2" style="background-color:#e6e6e6;">

        <form id="iSearch" name="content-search" action="[search-action]" method="get">
          <div class="row margin-top-large">
            <div id="searchBox3" class="columns small-12">
              <textarea id="autocomplete" type="text" placeholder="Search..." rows="5"></textarea>
            </div>
          </div>
        </form>

        <h3>Select files</h3>

        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
          Base drop zone
        </div>

        <input type="file" ng2FileSelect [uploader]="uploader" />

        <h3>Upload queue</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>

        <table class="table">
          <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td *ngIf="uploader.options.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-xs"
                      (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-warning btn-xs"
                      (click)="item.cancel()" [disabled]="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs"
                      (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div>
          <div>
            Queue progress:
            <div class="progress" style="">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </div>
          <button type="button" class="btn btn-success btn-s"
                  (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Upload all
          </button>
          <button type="button" class="btn btn-warning btn-s"
                  (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
          </button>
          <button type="button" class="btn btn-danger btn-s"
                  (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
          </button>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">Response</div>
              <div class="panel-body">
                {{ response }}
              </div>
            </div>
          </div>
        </div>

      </div>


      <!--TAB ADVANCED SECTION-->
      <div class="tabs-panel" id="panel3">
        <div class="row margin-top-large">
          <div class="columns medium-12 callout-advanced">
            <iv-advanced-search></iv-advanced-search>
          </div>
        </div>
      </div>

    </div>
</div>
