/************** SEARCH SECTION *******************************/

#div-quick-search .tabs-panel {
  background: #cec2d4 !important;
}

/*#search-tabs{*/
/*  border: 1px solid #cec2d4;*/
/*}*/

/*#search .tabs-title > a {*/
/*  font-size: 0.9rem;*/
/*  color: #3e3e3e;*/
/*}*/
/*#search .tabs-title > a:hover {*/
/*  background: #672e7b85;!*#7d96a75c; !*#57b2b787*!*/
/*  color: #0a0a0a;*/
/*}*/
/*#search .tabs-title > a:focus,*/
/*#search .tabs-title > a[aria-selected='true'] {*/
/*  color: #3e3e3e;*/
/*  background: rgba(90, 46, 110, 0.29);*/
/*}*/

.callout-advanced {
  background-color: #f6f4f6;
  border-radius: 5px;
  border: 1px solid #CCC;
}

/************** END SEARCH SECTION *******************************/
