<div id="search" class="row">

    <ul class="tabs" data-tabs data-deep-link="true" data-update-history="false" id="search-tabs">
      <li class="tabs-title is-active"><a href="home#quick-search" aria-selected="true">Quick Search</a></li>
      <li class="tabs-title"><a href="home#batch-search">Batch Search</a></li>
      <!-- We disable the advance search for now until we are able to provide it to the users-->
      <!-- <li class="tabs-title"><a href="home#advanced-search">Advanced Search</a></li>-->
    </ul>

    <div class="tabs-content" data-tabs-content="search-tabs">

      <!--TAB MAIN SEARCH SECTION-->
      <div id="div-quick-search">
        <div class="tabs-panel is-active" id="quick-search">
          <fieldset>
            <div id="searchBox" class="input-group margin-bottom-none">
              <input #query class="typeahead input-group-field" type="text"
                     (keydown.enter)="search(query.value, 'enter')"
                     placeholder="Gene name(s), UniProt AC(s), Pubmed, Protein name(s), Complex Ac"/>
              <div class="input-group-button">
                <input id="home-search-button" type="button" name="submit" value="1"
                       (click)="search(query.value, 'button')"
                       class="button icon icon-functional">
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <!--TAB BATCH SEARCH SECTION-->
      <div class="tabs-panel" id="batch-search">
        <ip-batch-search></ip-batch-search>
      </div>

      <!--TAB ADVANCED SECTION-->
      <div class="tabs-panel" id="advanced-search">
        <div class="row margin-top-large">
          <div class="columns medium-12 callout-advanced">
            <ip-advanced-search></ip-advanced-search>
          </div>
        </div>
      </div>

    </div>
</div>
