<div class="margin-top-large margin-bottom-large row">
  <h1>FAQ</h1>
  <ul class="tabs" data-tabs data-deep-link="true" data-update-history="false" id="faq-tabs">
    <li class="tabs-title is-active"><a href="faq#data_sources" aria-selected="true">Data Sources & Annotation Practices</a></li>
    <li class="tabs-title"><a href="faq#usage">Usage</a></li>
    <li class="tabs-title"><a href="faq#scoring">Scoring</a></li>
    <li class="tabs-title"><a href="faq#data_export">Data Export</a></li>
  </ul>

  <div class="tabs-content" data-tabs-content="faq-tabs">
    <div class="tabs-panel is-active" id="data_sources">
      <markdown [src]=data_sources></markdown>
    </div>
    <div class="tabs-panel" id="usage">
      <markdown [src]=usage></markdown>
    </div>
    <div class="tabs-panel" id="scoring">
      <markdown [src]=scoring></markdown>
    </div>
    <div class="tabs-panel" id="data_export">
      <markdown [src]=data_export></markdown>
    </div>
  </div>
</div>
