<aw-wizard [navBarLayout]="'large-empty-symbols'">
  <aw-wizard-step [stepTitle]="'Add Identifiers'"
                  [navigationSymbol]="{ symbol: '&#xf093;', fontFamily: 'EBI-Common'}"
                  (stepExit)="resolveSearch()">

    <ul class="accordion margin-top-large" data-accordion data-deep-link="true" data-update-history="false">
      <li class="accordion-item is-active" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="home#identifier-list" class="accordion-title">Interactor Identifiers List</a>

        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div id="identifier-list" class="accordion-content" data-tab-content >
          <div class="row margin-top-large">
            <div id="searchBox3" class="columns small-12">
              <textarea #query id="id-list" placeholder="Search..." rows="5"></textarea>
              <button class="button" type="button" (click)="setIds(query.value)" awNextStep>
                <i class="icon icon-common icon-cogs"></i> Next Step
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="home#upload-file" class="accordion-title">Upload File</a>

        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div id="upload-file" class="accordion-content" data-tab-content>
          <h5>Select file</h5>
          <div>
            <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="fileSelected()"/>
          </div>
          <div ng2FileDrop
               [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="uploader"
               class="well my-drop-zone">
            Drag and drop your interactors file here
          </div>

          <h5>Upload</h5>
          <!-- <p>Queue length: {{ uploader?.queue?.length }}</p>-->

          <table class="table">
            <thead>
            <tr>
              <th class="text-center" style="width: 25%">Name</th>
              <th class="text-center">Size</th>
              <th class="text-center">Progress</th>
              <th class="text-center">Status</th>
              <th class="text-center">Actions</th>
              <th class="text-center">Search</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td class="text-center">
                <strong>{{ item?.file?.name }}</strong>
              </td>
              <td class="text-center" *ngIf="uploader.options.isHTML5" nowrap>
                {{ item?.file?.size / 1024  | number:'.4' }} KB
              </td>
              <td class="text-center" *ngIf="uploader.options.isHTML5">
                <div class="progress" role="progressbar" tabindex="0" aria-valuemin="10" aria-valuemax="100">
                  <div class="progress-meter" [ngStyle]="{ 'width': item.progress + '%' }">
                    <div *ngIf="item.progress > 5" class="progress-meter-text">{{item.progress + '%' }}</div>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <span *ngIf="item.isSuccess"><i class="icon icon-common icon-check-circle is-success"></i></span>
                <span *ngIf="item.isCancel"><i class="icon icon-common icon-ban is-cancel"></i></span>
                <span *ngIf="item.isError"><i class="icon icon-common icon-times-circle is-error"></i></span>
              </td>
              <td class="text-center" nowrap>
                <button type="button" class="button" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                  <i class="icon icon-common icon-upload"></i> Upload
                </button>
                <button type="button" class="button" (click)="item.cancel()" [disabled]="!item.isUploading">
                  <i class="icon icon-common icon-ban"></i> Cancel
                </button>
                <button type="button" class="button" (click)="item.remove()">
                  <i class="icon icon-common icon-trash-alt"></i> Remove
                </button>
              </td>
              <td class="text-center">
                <span *ngIf="item.isSuccess">
                    <button id="batch-search-button" type="button" class="button" name="submit" value="1"
                            (click)="setIds(response)" awNextStep>
                      <i class="icon icon-common icon-cogs"></i> Next Step</button>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Explore results'"
                  [navigationSymbol]="{ symbol: '&#xf085;', fontFamily: 'EBI-Common'}">
    <div class="margin-top-xlarge">
      <h5 class="margin-bottom-medium">Resolved Identifiers</h5>

      <span *ngIf="data">
        <table>
          <thead>
          <tr>
            <th>Input Term</th>
            <th>Identifiers found</th>
            <th>Summary</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let entry of data | keyvaluemap">
            <td>
              {{entry.key}}
            </td>
            <td>
              {{entry.value['totalElements']}}
            </td>
            <td>
              <table *ngIf="entry.value['totalElements'] > 0">
                <thead>
                <tr>
                  <th>IntAct Ac</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Species</th>
                  <th>Type</th>
                  <th>Interaction Count</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let interactor of entry.value['content']">
                  <td>{{ interactor.interactorAc }}</td>
                  <td>{{ interactor.interactorPreferredIdentifier }}</td>
                  <td>{{ interactor.interactorName }}</td>
                  <td>{{ interactor.interactorDescription }}</td>
                  <td>{{ interactor.interactorSpecies}}</td>
                  <td>{{ interactor.interactorType }}</td>
                  <td>{{ interactor.interactionCount }}</td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </span>
    </div>

    <button class="button" type="button" awPreviousStep>Go to previous step</button>
    <button class="button" type="button" awNextStep>Go to next step</button>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Navigate Results'" [navigationSymbol]="{ symbol: '&#xf002;', fontFamily: 'EBI-Common'}">
    <div>
      Content {{ids}}
    </div>
    <button class="button" type="button" awPreviousStep>Previous Step</button>
    <button class="button" type="button" (click)="batchSearch(ids, 'button')">
      <i class="icon icon-common icon-search"></i> Search
    </button>
  </aw-wizard-step>
</aw-wizard>

