<div class="row button-grid" data-equalizer data-equalize-on="large" id="doc-button-grid">
  <div class="columns medium-6 small-6 text-center padding-bottom-large">
    <a class="button medium-12 columns intact-background" data-equalizer-watch routerLink="./ftp">
      <h3 class="icon icon-common white-color" data-icon="&#xf019;"></h3>
      <h5 class="white-color">FTP</h5></a>
  </div>
  <div class="columns medium-6 small-6 text-center padding-bottom-large">
    <a class="button medium-12 columns intact-background" data-equalizer-watch routerLink="./datasets">
      <h3 class="icon icon-common white-color" data-icon="&#xf187;"></h3>
      <h5 class="white-color">Datasets</h5></a>
  </div>

</div>
