<div class="row">
  <div class="columns small-2">
    <img src="assets/images/home/molecules_interaction_blue.jpg">
  </div>

  <div class="columns small-10">
    <h3>IntAct Molecular Interaction Database</h3>
    <p>
      IntAct provides a freely available, open source database system and analysis tools for molecular interaction data.
      All interactions are derived from literature curation or direct user submissions and are freely available.
      The IntAct Team also produces the Complex Portal.
    </p>

  </div>
</div>
