.icon-species {
  color: white;
  background-color: #68297c;
  border-radius: 100px;
  font-size: xx-large;
  padding: 5px;
}

.alert-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}

.alert-button-group {
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1px;
}

.alert-button-group > .button:not(:first-child) {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.alert-button-group > .button {
  flex: 1;
  margin: 0 !important;
}
