<div id="home-description" class="row">
    <h1>IntAct Molecular Interaction Database</h1>
    <p class="text-justify">
        IntAct provides a free, open source database system and analysis tools for molecular interaction data.
        All interactions are derived from literature curation or direct user submissions.
        The IntAct Team also produces the <a href="https://www.ebi.ac.uk/complexportal" target="_blank">Complex Portal</a>.
        You are currently visiting the new website of IntAct. The former version can be found <a
            href="{{formerURL}}">here</a>
    </p>
</div>
