<h1>IntAct Molecular Interaction Database</h1>
<p class="text-justify">
    IntAct provides a free, open source database system and analysis tools for molecular interaction data.
    All interactions are derived from literature curation or direct user submissions.
    The IntAct Team also produces the <a href="https://www.ebi.ac.uk/complexportal" target="_blank">Complex Portal</a>.
    You are currently visiting the new website of IntAct. The former version can be found <a
        href="{{formerURL}}">here</a>
    and will be supported until the end of 2021.
</p>

<div class="row expanded alert-panel urgent" style="max-width: 100em">
    <div class="alert-header">
        <h3>
            <i class="icon icon-common icon-database padding-medium"></i>
            New release incoming
        </h3>
    </div>

    <div class="row expanded text-justify">
        A new release is incoming. New publications and data are already available at the
        <a href="https://www.ebi.ac.uk/legacy-intact">legacy website</a>, and will soon be also available on IntAct
        Portal.
    </div>
</div>

<br>

<div class="row expanded alert-panel" style="max-width: 100em">
    <div class="alert-header">
        <h3>
            <i class="icon icon-species padding-medium" data-icon="&#x76;"></i>
            IntAct's COVID-19 dataset
        </h3>
        <div class="alert-button-group no-margin">
            <a class="button lighter margin-bottom-none" (click)="onSearch()"><i class="icon icon-common icon-eye"></i></a>
            <a class="button lighter margin-bottom-none" download target="_blank"
               [href]="miXml25Url()">miXML<sub>2.5</sub></a>
            <a class="button lighter margin-bottom-none" download target="_blank"
               [href]="miXml30Url()">miXML<sub>3.0</sub></a>
        </div>
    </div>

    <div class="row expanded text-justify">
        The data primarily covers protein-protein and several RNA-protein interactions involving SARS-CoV2 and SARS-CoV.
        All
        interactions from the relevant publications are covered in this dataset, including interactions with other
        organism.
    </div>
</div>
