.close-dialog-button {
    padding: 0.3rem 0.6rem 0.4rem 0.6rem;
    border-radius: 10px;

    span {
        font-size: 1.5rem;
    }
}

.checker div {
    display: flex;
    gap: 2px;
}

.button .flex {
    display: flex;
    gap: 5px;
    align-items: center;
}

.button.disabled {
    opacity: 1 !important;
    cursor: not-allowed;
    background: none !important;
    border: 2px solid #5a2e6e !important;
    color: #5a2e6e !important;
}
