/*.tt-menu,*/
/*.gist {*/
  /*text-align: left;*/
/*}*/

.twitter-typeahead {
  width: 100%;
}

.typeahead,
.tt-input,
.tt-hint {
  background-color: #fff;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
}

.typeahead {
  background-color: #fff;
}

.tt-input {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  /*margin: 12px 0;*/
  padding: 8px 0;
  background-color: #fbfbfb;/*#f4fbff;*/
  border: 1px solid #ccc;
  /*border: 1px solid rgba(0, 0, 0, 0.2);*/
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 16px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.tt-dataset-interactors .tt-dataset-interactions{
  margin-top: 5px;
}

.noResultsSuggestions {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 24px;
}

/*.gist {*/
  /*font-size: 14px;*/
/*}*/

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
  text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}


#searchBox .suggestions-footer {
  margin: 12px 20px -5px 20px;
  padding: 7px;
  border-top: 1px solid #ccc;
}
#searchBox .suggestions-footer a {
  text-decoration: none;
  border: 0;
}

#searchBox .category-name  {
  margin: 10px 20px 2px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
  color: grey;
}



/*#scrollable-dropdown-menu .tt-menu {*/
  /*max-height: 150px;*/
  /*overflow-y: auto;*/
/*}*/

/*#rtl-support .tt-menu {*/
  /*text-align: right;*/
/*}*/



.interactionsWrapper {
  background-color: #c1e4fe;
  color: #1542af;
  border-radius: 5px;
  padding: 3px 3px;
 }
.labelWrapper {
  background-color: #f9cf76cf;
  color: #7b3a06;
  border-radius: 5px;
  padding: 3px 3px;
}
.speciesWrapper {
  background-color: #cdfdc6;
  color: #0e5f5e;
  border-radius: 5px;
  padding: 3px 3px;
}
.chemicalWrapper {
  background-color: #fff47c;
}
