.masthead{
  background-color: #648880;
}

/**************************************************************/
/********* ADVANCED QUERY BUILDER RE-STYLE ********************/
/**************************************************************/


[_nghost-c11] .q-switch-label[_ngcontent-c11], [_nghost-c11] .q-button[_ngcontent-c11] {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

[_nghost-c11] .q-button[_ngcontent-c11] {
  margin-left: 8px;
  padding: 0 8px;
  background-color: #f6f4f6 !important;
  border: none !important;
}

[_nghost-c11] .q-button[_ngcontent-c11]:focus {
  outline: 0;
  box-shadow: inset 0 0 0px 0.2rem rgba(0,123,255,.25);
}

[_nghost-c11] .q-remove-button[_ngcontent-c11] {
  color: #B3415D;
  width: 31px;
  background-color: transparent !important;
}

[_nghost-c11] .q-tree[_ngcontent-c11] {
  margin-left: 3.25rem !important;
}

[_nghost-c11] .q-connector[_ngcontent-c11]::before, [_nghost-c11] .q-connector[_ngcontent-c11]::after {
  content: '';
  left: -12px;
  border: solid #CCC;
  width: 9px;
  height: calc(50% + 6px);
  position: absolute;
}

[_nghost-c11] .q-connector[_ngcontent-c11]::before {
  top: -5px;
  border-width: 0 0 2px 2px;
}

[_nghost-c11] .q-control-size[_ngcontent-c11] {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  margin-top: 8px;
  margin-bottom: -3px;
}

/**************************************************************/
/************** END ADVANCED QUERY BUILDER ********************/
/**************************************************************/


/**************************************************************/
/********* PARTICIPANT DATATABLES RE-STYLE ********************/
/**************************************************************/

div.dataTables_length > label > select {
  box-sizing: border-box;
  width: 41% !important;
  border-radius: 0;
}

table#participantTable {
  width: 100% !important;
}

table#participantTable tbody tr {
  font-size: 14px;
}

.dataTables_wrapper .dataTables_paginate {
  float: none;
  text-align: center;
  padding-top: 1em;
}

.dataTables_wrapper .dataTables_info {
  padding-bottom: 1em;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #f9f9f9;
}



/**************************************************************/
/********* END PARTICIPANT DATATABLES RE-STYLE ********************/
/**************************************************************/

/**************************************************************/
/********* FEATURE DATATABLES ROW STYLES ********************/
/**************************************************************/

table#featureTable {
  width: 100% !important;
  table-layout: fixed;
}

table#featureTable td {
  width: auto !important;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
  /*padding: 10px 18px;*/
}

table#featureTable tbody tr {
  font-size: 15px;
}

table#featureTable thead tr th {
  text-align: left;
  width: auto !important;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 8px 10px;
  /*white-space: nowrap;*/
}

.annotationTopicWrapper {
  background-color: #569fec52;
  color: #14385f;
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 4px;
  white-space: nowrap;
}

.descriptionWrapper {
  font-size: 14px;
  display: inline-block;
}

.xrefQualifierWrapper {
  background-color:#dacee0;
  color: #482c56f7;
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 4px;
  white-space: nowrap;
}



/**************************************************************/
/********* END DATATABLES ROW STYLES ********************/
/**************************************************************/
