/*
  Colour palette: IntAct-Portal
*/

a {
  color: #222;
}

dl dt a,
a.label,
.label,
a:hover,
a:focus,
a:active {
  color: rgb(104,41,124);
}

h1 { color: #312146; }
h2 { color: rgb(104,41,124); }
h3 { color: #444444; }

a.special { background-color: #A699B7; }

.menu .active > a,
.tag,
.tabs-title > a:hover,
.button,
.button.primary {
  background-color: rgb(104,41,124);
}
a.tag:hover { color: #fff; }

.tabs-title > a:hover,
.button.hover,
.button.primary:hover,
.button.primary:focus { background: rgba(104,41,124,.9); }
.tabs-title > a:focus,
.tabs-title > a[aria-selected='true'] {
  color: #fff;
  background: rgb(104,41,124); }
.tabs-title > a {
  color: #312146;
}
.masthead {
  background-image: linear-gradient(#000000, #68297c);
}

/* end */

/*IntAct tiles styling*/
a.intact-background, .intact-background, .intact-background.button, .intact-background.button:hover, .intact-background.tag {
  background: rgb(104,41,124);
}

/************** SEARCH SECTION *******************************/

#search .tabs-panel {
  background: #cec2d4 !important;
}

#search-tabs{
  border: 1px solid #cec2d4;
}

#search .tabs-title > a {
  font-size: 0.9rem;
  color: #3e3e3e;
}
#search .tabs-title > a:hover {
  background: #672e7b85;/*#7d96a75c; /*#57b2b787*/
  color: #0a0a0a;
}
#search .tabs-title > a:focus,
#search .tabs-title > a[aria-selected='true'] {
  color: #3e3e3e;
  background: rgba(90, 46, 110, 0.29);
}

.callout-advanced {
  background-color: #f6f4f6;
  border-radius: 5px;
  border: 1px solid #CCC;
}

/************** END SEARCH SECTION *******************************/


a.button {
  color: #fff !important;
  background: #68297c;
}

.button:focus, .button:hover, .button.hover {
  background-color: #68297c;
  opacity: 0.8;
}

/************** Feature Dataset SECTION *******************************/

.archive a{
  border-bottom-style: none;
}

/************** Scrollbar *******************************/

/* TODO adjust the color of the scroll */
.scrollbar {
  background-color: #F5F5F5;
  /*float: left;*/
  /*height: 200px;*/
  /*margin-bottom: 25px;*/
  /*margin-left: 22px;*/
  /*margin-top: 40px;*/
  /*width: 65px;*/
  scrollbar-width: thin;
  scrollbar-color: #90A4AE #CFD8DC;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #CFD8DC;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #90A4AE;
  border-radius: 6px;
  border: 2px solid #CFD8DC;
}

/**************************************************************/
/********* ADVANCED QUERY BUILDER RE-STYLE ********************/
/**************************************************************/


[_nghost-c11] .q-switch-label[_ngcontent-c11], [_nghost-c11] .q-button[_ngcontent-c11] {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

[_nghost-c11] .q-button[_ngcontent-c11] {
  margin-left: 8px;
  padding: 0 8px;
  background-color: #f6f4f6 !important;
  border: none !important;
}

[_nghost-c11] .q-button[_ngcontent-c11]:focus {
  outline: 0;
  box-shadow: inset 0 0 0px 0.2rem rgba(0,123,255,.25);
}

[_nghost-c11] .q-remove-button[_ngcontent-c11] {
  color: #B3415D;
  width: 31px;
  background-color: transparent !important;
}

[_nghost-c11] .q-tree[_ngcontent-c11] {
  margin-left: 3.25rem !important;
}

[_nghost-c11] .q-connector[_ngcontent-c11]::before, [_nghost-c11] .q-connector[_ngcontent-c11]::after {
  content: '';
  left: -12px;
  border: solid #CCC;
  width: 9px;
  height: calc(50% + 6px);
  position: absolute;
}

[_nghost-c11] .q-connector[_ngcontent-c11]::before {
  top: -5px;
  border-width: 0 0 2px 2px;
}

[_nghost-c11] .q-control-size[_ngcontent-c11] {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  margin-top: 8px;
  margin-bottom: -3px;
}

/**************************************************************/
/************** END ADVANCED QUERY BUILDER ********************/
/**************************************************************/



/************** HOME PAGE SECTION *******************************/


/* LOCAL NAVIGATION DROPDOWN */

.dropdown.menu > li.is-active > a {
  background-color: rgba(34, 34, 34, 0.9);
  color: #f8f8f8;
}

.masthead nav ul li.active a,
.masthead nav ul li a:active,
.masthead ul li.active-trail a,
.masthead ul li.active a:visited,
.masthead ul li.active-trail a:visited {
  font-weight: bold;
}

.dropdown.menu > li.is-dropdown-submenu-parent a.active {
  background-color: #f8f8f8;
  color: #555;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a.active::after {
  border-color: #555 transparent transparent;
}

/*********** END HOME PAGE SECTION *******************************/


/**************************************************************/
/*************** DATATABLES RE-STYLE ********************/
/**************************************************************/

div.dataTables_length > label > select {
  box-sizing: border-box;
  width: 41% !important;
  border-radius: 0;
}

.dataTables_wrapper .dataTables_paginate {
  float: none;
  text-align: center;
  padding-top: 1em;
}

.dataTables_wrapper .dataTables_info {
  padding-bottom: 1em;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #f9f9f9;
}

.dataTable{
  width: 100% !important;
}

table.dataTable tbody th,
table.dataTable tbody td {
  white-space: nowrap;
}

table.dataTable,
table.dataTable thead, table.dataTable tbody,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

table.dataTable tr, th {
  font-size: 13px;
}

/*************** PARTICIPANT DATATABLES ROW STYLE ********************/


table#participantTable.tableDisplay td:nth-child(1) {
  text-align: center !important;
}

/********* Features table style ********************/

table#featureTable.tableDisplay td:nth-child(1) {
  text-align: center !important;
}


/********* Interactions table style ********************/

table#interactionsTable.tableDisplay td:nth-child(1) {
  text-align: center !important;
}

/********* Interactors table style ********************/

table#interactorsTable.tableDisplay td:nth-child(1) {
  text-align: left !important;
}

/********* DATATABLES ROWs COMMON STYLE ********************/

.detailsCell {
  font-size: small;
  display: inline-block;
}

.limitWidth {
  max-width: 100px;
  word-wrap: break-word;
}

.detailsAnnotationCell {
  background-color: #569fec52;
  color: #14385f;
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 4px;
  white-space: nowrap;
}

.detailsXrefCell {
  background-color:#dacee0;
  color: #482c56f7;
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 4px;
  white-space: nowrap;
}

.detailsConfidencesCell {
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 4px;
  white-space: nowrap;
}

.detailsExpansionsCell {
  background-color: rgba(99, 103, 189, 0.24);
  color: #19236d;
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 4px;
  white-space: nowrap;
}
.aliasesList {
  padding: 0px 2px;
}
.aliasesCell {
  width: 250px;
}
.aliasesCellWidth {
  max-width: 150px;
  white-space: normal;
}
.detailsAliasesCell {
  background-color: #4ba77047;
  color: #0c6530;
  font-size: smaller;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px 5px;;
  /*white-space: nowrap;*/
}
.parametersCell {
  width: 100px;
  overflow: auto;
}
.featureCell {
  text-align: center;
}
.detailsFigureLegendCell {
  background-color: #4ba77047;
  color: #0c6530;
  font-size: smaller;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px 5px;;
  white-space: nowrap;
}

.detailsCommentsCell {
  background-color: rgba(73, 165, 243, 0.29);
  color: #121d92;
  font-size: smaller;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px 5px;;
  white-space: nowrap;
}

.detailsCautionsCell {
  background-color: #f9956552;
  color: #de4f09;
  font-size: smaller;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px 5px;;
  white-space: nowrap;
}

.detailsAllCell {
  background-color: #8da0ad54;
  color: #46555f;
  font-size: smaller;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px 5px;;
  white-space: nowrap;
}

.rowSelected {
  /*font-weight: bold;*/
  background-color: #305b7d66 !important;
  /*text-shadow: 1px 1px 0px #EEE;*/
  color: black;
}
.rowUnSelected {
  /*font-weight: bold;*/
  background-color: #305b7d66 !important;
  /*text-shadow: 1px 1px 0px #EEE;*/
  color: black;
}

button.showMore, button.showLess {
  background-color: #67297cd6;
  color: #f8f8f8;
  font-size: smaller;
  font-weight: bold;
  padding: 2px 5px;
  cursor: pointer;
}

/**************************************************************/
/********* END DATATABLES ROW STYLES ********************/
/**************************************************************/
