<div class="alert-panel margin-bottom-large">
  <h3><i class="icon icon-common icon-exclamation-triangle"></i> Not Supported</h3>
  Advanced search is not yet supported in this new website, you will therefore be redirected to the former
  IntAct website upon clicking on the search button
</div>

<div class="input-group">
  <div #editor id="editor" class="row output input-group-field" contenteditable="true" (input)="onInput($event)">
  </div>
  <div class="input-group-button">
    <input id="ad-search-button" type="button" name="submit" value="1"
           (click)="search(editor.innerText)" class="button icon icon-functional">
  </div>
</div>

<div class="button-group" id="arrow-panel">
  <button data-tooltip data-disable-hover="false" title="Copy query to builder" aria-haspopup="true"
          (click)="inputToBuilder(builder, editor.innerText)"
          class="button outlined icon icon-common icon-arrow-alt-circle-down"></button>
  <button title="Copy builder to query" (click)="builderToInput(builder, editor)"
          class="button outlined icon icon-common icon-arrow-alt-circle-up"></button>
</div>

<ul class="accordion" data-accordion>
  <li class="accordion-item is-active" data-accordion-item>
    <a class="accordion-title">MIQL Query Builder</a>
    <div class="accordion-content" data-tab-content>
      <div class="margin-top-large margin-bottom-large">
        <query-builder #builder id="builder" [formControl]='queryCtrl' [config]='currentConfig'
                       [classNames]="classNames">

          <ng-container *querySwitchGroup="let ruleSet">
            <div class="button-group margin-bottom-none">
              <div class="display-contents ad-q-switch-control">
                <input type="radio" value="and" [checked]="ruleSet.condition === 'and'"
                       class="ad-q-switch-radio no-margin checked ng-untouched ng-pristine ng-valid">
                <label class="button margin-bottom-none" (click)="updateCondition(ruleSet, $event)">AND</label>
              </div>
              <div class="display-contents ad-q-switch-control">
                <input type="radio" value="or" [checked]="ruleSet.condition === 'or'"
                       class="ad-q-switch-radio no-margin ng-untouched ng-pristine ng-valid">
                <label class="button margin-bottom-none" (click)="updateCondition(ruleSet, $event)">OR</label>
              </div>
            </div>
          </ng-container>

        </query-builder>
      </div>
    </div>
  </li>
</ul>



