<div class="alert-panel margin-bottom-large">
  <h3><i class="icon icon-common icon-exclamation-triangle"></i> Not Supported</h3>
  Advanced search is not yet supported in this new website, you will therefore be redirected to the former
  IntAct website upon clicking on the search button
</div>

<div class="input-group">
  <div style="position: relative">
    <textarea id="editor" #editor (input)="onInput()" (scroll)="syncScroll(pre)"
              spellcheck="false"></textarea>
    <pre id="highlighting" aria-hidden="true" #pre><code class="highlighting-content" [innerHTML]="coloredMIQL"></code></pre>
    <select class="autocomplete"  [style.top]="y + 'px'" [style.left]="x + 'px'">
      <option *ngFor="let option of autocompleteOptions">{{option}}</option>
    </select>
  </div>

  <div class="input-group-button">
    <input id="ad-search-button" type="button" name="submit" value="1"
           (click)="search(editor.innerText)" class="button icon icon-functional">
  </div>
</div>

<ul class="accordion" data-accordion>
  <li class="accordion-item is-active" data-accordion-item>
    <a class="accordion-title">MIQL Query Builder</a>
    <div class="accordion-content" data-tab-content>
      <div class="margin-top-large margin-bottom-large">
        <query-builder #builder id="builder" [formControl]='queryCtrl' [config]='currentConfig'
                       [classNames]="classNames" (ngModelChange)="builderToEditor()">

          <ng-container *querySwitchGroup="let ruleSet">
            <div class="button-group margin-bottom-none">
              <div class="display-contents ad-q-switch-control">
                <input type="radio" value="and" [checked]="ruleSet.condition === 'and'"
                       class="ad-q-switch-radio no-margin checked ng-untouched ng-pristine ng-valid">
                <label class="button margin-bottom-none"
                       (click)="updateCondition(ruleSet,$event)">AND</label>
              </div>
              <div class="display-contents ad-q-switch-control">
                <input type="radio" value="or" [checked]="ruleSet.condition === 'or'"
                       class="ad-q-switch-radio no-margin ng-untouched ng-pristine ng-valid">
                <label class="button margin-bottom-none"
                       (click)="updateCondition(ruleSet,$event)">OR</label>
              </div>
            </div>
          </ng-container>

        </query-builder>
      </div>
    </div>
  </li>
</ul>



