<div id="news" class="margin-top-large">
  <h4 class="margin-bottom-large">
    <i class="icon icon-generic" data-icon="N"></i> Latest News
  </h4>

  <div id="releaseVersion" class="margin-top-medium padding-top-medium padding-left-medium padding-right-medium">
    <h6><i class="icon icon-generic" data-icon="r"></i> New Intact View version: {{version}}</h6>
    <p style="margin-left: 1.6rem"> Release Date: {{releaseDate}}</p>

    <h6><i class="icon icon-generic" data-icon="g"></i> Data Content</h6>
    <ul style="margin-left: 1.6rem">
      <li>Publications: {{publications}}</li>
      <li>Interactors: {{interactors}}</li>
      <li>Interactions: {{interactions}}</li>
    </ul>

  </div>

</div>
