<div id="contributors" class="row expanded padding-left-xlarge margin-top-large">
  <h3><p class="icon icon-generic" data-icon="}"> Our Contributors</p></h3>
</div>

<div class="row expanded padding-left-xlarge margin-top-large margin-bottom-xlarge padding-bottom-small">
  <div class="columns medium-1">
    <a href="//mint.bio.uniroma2.it" target="_blank"><img src="assets/images/contributors/imex_mint_s.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//www.uniprot.org" target="_blank"><img src="assets/images/contributors/imex_uniprot_s.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//www.sib.swiss" target="_blank"><img src="assets/images/contributors/imex_sib_s.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//ophid.utoronto.ca/i2d/" target="_blank"><img src="assets/images/contributors/imex_id2_s.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//www.innatedb.com" target="_blank"><img src="assets/images/contributors/imex_innatedb_s.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//www.molecularconnections.com" target="_blank"><img src="assets/images/contributors/imex_mconnections_s.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//matrixdb.univ-lyon1.fr" target="_blank"><img src="assets/images/contributors/imex_matrixdb_s.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//www.mechanobio.info" target="_blank"><img src="assets/images/contributors/imex_mbinfo_s.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//www.agbase.msstate.edu" target="_blank"><img src="assets/images/contributors/imex_agbase_s.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//www.ucl.ac.uk/functional-gene-annotation/cardiovascular" target="_blank"><img src="assets/images/contributors/imex_acg_s.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//www.imexconsortium.org" target="_blank"><img src="assets/images/contributors/IMEx_logo_webmedium.jpg" ></a>
  </div>

  <div class="columns medium-1"></div>
</div>

