<div id="contributors" class="row expanded padding-left-xlarge margin-top-large">
  <h3><p class="icon icon-generic" data-icon="}"> Our Contributors</p></h3>
</div>

<div class="row expanded padding-left-xlarge margin-top-large margin-bottom-xlarge padding-bottom-small">
  <div class="columns medium-1 medium-offset-1">
    <a href="//www.ceitec.eu" target="_blank"><img src="assets/images/contributors/Ceitec.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//www.evidenceontology.org/" target="_blank"><img src="assets/images/contributors/eco.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//www.ucl.ac.uk/functional-gene-annotation/cardiovascular" target="_blank"><img src="assets/images/contributors/imex_acg_s.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//matrixdb.univ-lyon1.fr" target="_blank"><img src="assets/images/contributors/matrixdb.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//mint.bio.uniroma2.it" target="_blank"><img src="assets/images/contributors/Mint.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//www.ebi.ac.uk/pdbe/" target="_blank"><img src="assets/images/contributors/PDBe.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//www.yeastgenome.org" target="_blank"><img src="assets/images/contributors/SGD.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//www.sib.swiss" target="_blank"><img src="assets/images/contributors/sib.png"></a>
  </div>
  <div class="columns medium-1">
    <a href="//www.uniprot.org" target="_blank"><img src="assets/images/contributors/uniprot.png"></a>
  </div>
  <div class="columns medium-1"></div>
</div>

