<div id="content">
  <div data-sticky-container>
    <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="content:top"
            data-btm-anchor="content:bottom">
      <div class="masthead-inner row">
        <!-- local-title -->
        <div class="columns medium-12" id="local-title">
          <h1><a href="../../" title="Back to [service-name] homepage"><img src="https://www.ebi.ac.uk/intact/images/IntAct_logo.png"></a></h1>
        </div>
        <!-- /local-title -->
        <!-- local-nav -->
        <nav>
          <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
            <li><a href="../../">Overview</a></li>
            <li><a data-open="modal-download">Download</a></li>
            <li><a href="#">Support <i class="icon icon-generic" data-icon="x"></i></a></li>
          </ul>
        </nav>
        <!-- /local-nav -->
      </div>
    </header>
  </div>
  <!-- Suggested layout containers -->
  <section id="main-content-area" class="row" role="main">
    <!-- Your menu structure should make a breadcrumb redundant, but if a breadcrump is needed uncomment the below -->
    <!--<nav aria-label="You are here:" role="navigation">-->
    <!--<ul class="breadcrumbs">-->
    <!--<li><a href="../../">EBI Framework</a></li>-->
    <!--<li><a href="../">Sample pages</a></li>-->
    <!--<li>-->
    <!--<span class="show-for-sr">Current: </span> Blank boilerplate-->
    <!--</li>-->
    <!--</ul>-->
    <!--</nav>-->

    <div class="columns">
      <h2>
        IntAct Molecular Interaction Database
      </h2>
      <p>
        IntAct provides a freely available, open source database system and analysis tools for molecular interaction data. All
        interactions are derived from literature curation or direct user submissions and are freely available. The IntAct Team
        also produce the Complex Portal.
      </p>
    </div>

  </section>
  <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
  <!--
  <footer id="local-footer" class="local-footer" role="local-footer">
    <div class="row">
      <span class="reference">How to reference this page: ...</span>
    </div>
  </footer>
  -->
  <!-- End optional local footer -->
</div>
