
  <div data-sticky-container>
    <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="content:top" data-btm-anchor="content:bottom">
      <div class="masthead-inner row expanded"> <!-- expanded -->
        <!-- local-title -->
        <div class="columns medium-12" id="local-title">
          <a href="../../" title="Back to Intact homepage">
            <img src="assets/images/IntAct_Logo.svg" class="padding-left-xlarge padding-bottom-large"
                 width="425px">
          </a>
        </div>
        <!-- /local-title -->

        <!-- local-nav -->
        <nav>
          <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
            <li><a href="../../">Home</a></li>
            <li><a routerLink="/download">Download</a></li>
            <li><a data-open="modal-download">Release notes</a></li>
            <li><a routerLink="/faq">FAQ</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a href="#">Support <i class="icon icon-generic" data-icon="x"></i></a></li>
          </ul>
        </nav>
        <!-- /local-nav -->
      </div>
    </header>
  </div>

  <!-- Suggested layout containers -->
  <section id="main-content-area" class="row margin-top-large margin-bottom-medium expanded" role="main">

    <section>
      <router-outlet></router-outlet>
      <!-- Routed views go here -->
    </section>

  </section>


  <!-- Local footer -->

  <div class="row margin-top-medium expanded">

  <footer id="local-footer" class="local-footer row expanded contributors-container" role="local-footer"> <!-- expanded -->
  </footer>

  </div>

  <!-- End local footer -->
