
/* CONTRIBUTORS SECTION SYTLE */

.contributors-container {
  background-color: #EEE;
}

/* RIGHT SECTION NEWS PANEL STYLE */

.news-panel {
  background-color: white;
  border-radius: 6px;
}

/* NAVIGATION SUBMENU OVERRIDE EBI-GLOBAL TO REMOVE A WHITE RIGHT LINE */

.no-border-submenu {
  border-right: 0 !important ;
}
