<div class="margin-top-large margin-bottom-large">

  <!--  TODO make this bookmarkable like the documentation, it needs to take into account the url params -->
  <ul class="tabs" data-tabs id="details-tabs">
    <li class="tabs-title is-active"><a href="#interactionDetails" aria-selected="true">Interaction Details</a></li>
    <li class="tabs-title"><a href="#participants">Participants</a></li>
    <li class="tabs-title"><a href="#features">Features</a></li>

    <ip-column-toggle *ngIf="isTabParticipantActive"
                      [columns]="participantTable.columns"
                      [dataTable]="participantTable.dataTable"
                      [columnView]="participantTable.columnView"
                      [isTabActive]="isTabParticipantActive" class="float-right"></ip-column-toggle>

    <ip-column-toggle *ngIf="isTabFeatureActive"
                      [columns]="featureTable.columns"
                      [dataTable]="featureTable.dataTable"
                      [columnView]="featureTable.columnView"
                      [isTabActive]="isTabFeatureActive" class="float-right"></ip-column-toggle>
  </ul>

  <div class="tabs-content" data-tabs-content="details-tabs">
    <div class="tabs-panel is-active" id="interactionDetails">
      <ip-interaction-details *ngIf="interactionDetails"
                              [interactionDetails]="interactionDetails"></ip-interaction-details>
    </div>

    <div class="tabs-panel table-tab" id="participants">
      <ip-participant-table [participantTab]="isTabParticipantActive"
                            [interactionAc]="interactionAc"
                            (participantChanged)="onParticipantSelectedChanged($event)"></ip-participant-table>

    </div>

    <div class="tabs-panel table-tab" id="features">
      <ip-features-table [interactionAc]="interactionAc"
                         [featureTab]="isTabFeatureActive"
                         (featureChanged)="onFeatureSelectedChanged($event)"></ip-features-table>
    </div>

  </div>

</div>
