.columnToggle {
  font-size: 1em;
  background-color: #e6e6e6;
  width: 1.8em;
  height: 1.8em;
  background-position: 50% 50%;
  margin-top: .5em;
  margin-bottom: .5em;
  box-sizing: border-box;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #44545f;
  cursor: pointer;
}

.iconColumn {
  color: #44545f;
  font-size: 1.5em;
}

.column_toggle_popup {
  display: block;
  position: absolute;
  /*top: 2.5em;*/
  right: 4em;
  text-align: left !important;
}

.column_toggle_btnwrap {
  background-color: #fff;
  padding: .5em .8em;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px #ccc;
  z-index: 1;
}

.hiddenToggle {
  display: none;
}

select {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0;
}

.top {
  display: flex !important;
  justify-content: space-around!important;
}

.top > .dataTables_info {
  order: 0!important;
}
.top > .dataTables_paginate {
  order: 1!important;
  padding-top: 0;
}
.top > .dataTables_length {
  order: 2!important;
  padding-top: 3px;
}
