<div id="contributors" class="margin-top-large" style="text-align: center">
  <h4><p class="icon icon-generic" data-icon="}"> Our Contributors</p></h4>
</div>

<div style="text-align: center">
  <a href="//mint.bio.uniroma2.it" target="_blank">
    <img src="assets/images/contributors/imex_mint_s.png" alt="Mint" style="height:50px">
  </a>
  <a href="//www.uniprot.org" target="_blank">
    <img src="assets/images/contributors/imex_uniprot_s.png" alt="UniProt" style="height:50px">
  </a>
  <a href="//www.expasy.org/resources/uniprotkb-swiss-prot" target="_blank">
    <img src="assets/images/contributors/imex_sib_s.png" alt="SIB" style="height:50px">
  </a>
  <a href="//dip.doe-mbi.ucla.edu/dip/Main.cgi" target="_blank">
    <img src="assets/images/contributors/imex_dip_s.png" alt="DIP" style="height:50px">
  </a>
  <a href="//ophid.utoronto.ca/" target="_blank">
    <img src="assets/images/contributors/imex_id2_s.png" alt="ID2" style="
    height: 75px;
    background-image: radial-gradient(farthest-side at 0 100%, #39bbc7, #3A332D);
    padding: 5px;
    border-radius: 5px;">
  </a>
  <a href="//www.innatedb.com" target="_blank">
    <img src="assets/images/contributors/imex_innatedb_s.png" alt="InnateDB" style="height:50px">
  </a>
  <a href="//www.molecularconnections.com" target="_blank">
    <img src="assets/images/contributors/imex_mconnections_s.png" alt="Molecular Connections" style="height:50px">
  </a>
  <a href="//matrixdb.univ-lyon1.fr/" target="_blank">
    <img src="assets/images/contributors/imex_matrixdb_s.png" alt="matrixDB" style="height:75px">
  </a>
  <a href="//www.mechanobio.info" target="_blank">
    <img src="assets/images/contributors/imex_mbinfo_s.png" alt="mbInfo" style="height: 50px;
    background-color: rgba(18,58,83,0.7);
    border-radius: 10px;
    padding: 5px;">
  </a>
  <a href="//agbase.arizona.edu/" target="_blank">
    <img src="assets/images/contributors/imex_agbase_s.png" alt="AGBase" style="height:75px; ">
  </a>
  <a href="//hpidb.igbb.msstate.edu/" target="_blank">
    <img src="assets/images/contributors/imex_hpidb.png" alt="HPIDB" style="height:50px; border-radius: 10px;">
  </a>
  <a href="//www.ucl.ac.uk/cardiovascular/research/pre-clinical-and-fundamental-science/functional-gene-annotation"
     target="_blank">
    <img src="assets/images/contributors/imex_acg_s.png" alt="ACG" style="height:50px">
  </a>
  <a href="//www.imexconsortium.org" target="_blank">
    <img style="height: 100px" src="assets/images/contributors/IMEx_logo_webmedium.jpg" alt="IMEx">
  </a>
</div>

