<div id="contributors" class="margin-top-large">
  <h4><p class="icon icon-generic" data-icon="}"> Our Contributors</p></h4>
</div>

<div>
  <a href="//mint.bio.uniroma2.it" target="_blank">
    <img src="assets/images/contributors/imex_mint_s.png" alt="Mint">
  </a>
  <a href="//www.uniprot.org" target="_blank">
    <img src="assets/images/contributors/imex_uniprot_s.png" alt="UniProt">
  </a>
  <a href="//www.sib.swiss" target="_blank">
    <img src="assets/images/contributors/imex_sib_s.png" alt="SIB">
  </a>
  <a href="//dip.doe-mbi.ucla.edu/dip/Main.cgi" target="_blank">
    <img src="assets/images/contributors/imex_dip_s.png" alt="DIP">
  </a>
  <a href="//ophid.utoronto.ca/i2d/" target="_blank">
    <img src="assets/images/contributors/imex_id2_s.png" alt="ID2">
  </a>
  <a href="//www.innatedb.com" target="_blank">
    <img src="assets/images/contributors/imex_innatedb_s.png" alt="InnateDB">
  </a>
  <a href="//www.molecularconnections.com" target="_blank">
    <img src="assets/images/contributors/imex_mconnections_s.png" alt="Molecular Connections">
  </a>
  <a href="//matrixdb.univ-lyon1.fr" target="_blank">
    <img src="assets/images/contributors/imex_matrixdb_s.png" alt="matrixDB">
  </a>
  <a href="//www.mechanobio.info" target="_blank">
    <img src="assets/images/contributors/imex_mbinfo_s.png" alt="mbInfo">
  </a>
  <a href="//www.agbase.msstate.edu" target="_blank">
    <img src="assets/images/contributors/imex_agbase_s.png" alt="AGBase">
  </a>
  <a href="//www.ucl.ac.uk/functional-gene-annotation/cardiovascular" target="_blank">
    <img src="assets/images/contributors/imex_acg_s.png" alt="ACG">
  </a>
  <a href="//www.imexconsortium.org" target="_blank">
    <img style="height: 100px" src="assets/images/contributors/IMEx_logo_webmedium.jpg" alt="IMEx">
  </a>
</div>

