h4 {
  font-size: 105%;
  color: #4d4d4d;
  font-weight: 600;
}

i {
  font-size: 15pt;
  vertical-align: center;
}

.month {
  font-size: small;
  font-weight: bold;
}

.year {
  position: sticky;
  top: 20%;
  width: fit-content;
  border-radius: 25px;
  color: white;
  background-color: #68297c;
  /*background-color: #b46eb4;*/
}

table {
  margin-bottom: 0;
  border: none;
}

td, th, tbody {
  border:none;
  padding-left: 1em;
}

tr {
  /*background-color: #ffedff;*/
}

tr:nth-child(even) {
  /*background-color: #f8e0ff;*/
}

.accordion-content {
  padding: 0;
}

.mat-raised-button {
  margin-right: 5px;
}

.image {
  text-align: center;
  padding: 0;
  background-color: white
}
