<header id="masthead" class="masthead compact-for-data">
  <div class="masthead-inner row expanded collapse">
    <!-- local-title -->
    <div>
      <a routerLink="/home" title="Back to IntAct homepage">
        <div class="media-object" id="local-title">
          <div class="media-object-section">
            <img class="padding-bottom-small" src="assets/images/logo/intact_logo.svg" alt="IntAct logo"
                 style="height: 3rem;">
          </div>
        </div>
      </a>
    </div>
    <!-- /local-title -->

    <ip-local-search style="flex: 1"></ip-local-search>

    <!-- local-nav -->
    <nav>
      <ul id="local-nav" class="dropdown menu float-left" data-dropdown-menu="true" data-description="navigational">
        <li routerLinkActive="active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/download" routerLinkActive="active">Download</a></li>
        <li routerLinkActive="active"><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li routerLinkActive="active"><a routerLink="/documentation" routerLinkActive="active">Documentation</a></li>
        <!--  TODO replace back with Support and remove hard code styling after the beta finish-->
        <li routerLinkActive="active"><a style="background: crimson" href="//www.ebi.ac.uk/support/intact">Feedback <i class="icon icon-generic"
                                                                                          data-icon="x"></i></a></li>
      </ul>
    </nav>
    <!-- /local-nav -->
  </div>
  <ip-progress-bar></ip-progress-bar>
</header>
