/* Facets customization */
.facet > [type="radio"]  {
  font-size: 13px;
}

.facet {
  white-space: nowrap;
  padding: 5px;
}

.facet > label {
   font-size: 13px;
   margin-left: 0px;
 }

.dropdown-pane {
   width: max-content;
 }

/* Filters bar styling */
#filters-bar {
  background: white
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
  background-image: url('../../../../assets/images/results/mi-score-slider-image.svg') !important;
  background-position: center  !important; /* Center the image */
  background-repeat: no-repeat  !important; /* Do not repeat the image */
  z-index: 1;
  padding: 2px;
  border-radius: 2px !important;
  border: 1px solid #D9D9D9 !important;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-selection {
  z-index: 2 !important;
  background: #0db9f0 !important;
  border-radius: 2px !important;
}
