@if (table | async) {
    <div class="column-toggle-container " (mouseenter)="toggleActivate(true)" (mouseleave)="toggleActivate(false)">
        <button class="dropdown button stick-and-fill-right" type="button" [attr.data-toggle]="table$.columnView">
            Column toggle
        </button>
        <div id="{{table$.columnView}}" class="dropdown-pane" [style.visibility]="active ? 'visible' : 'hidden'">
            <ul class="no-bullet tight">
                @for (column of table$.columns; track column; let i = $index) {
                    <li class="column-toggle">
                        <label>
                            <input #col class="list-view" type="checkbox" name="list" [attr.data-column]="i"
                                   value="{{column.title}}"
                                   (change)="onChangeColumnSelected(col.value, col.checked)"
                                   [checked]="isColumnSelected(column.title)">{{ column.title }}
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>
}


