<div class="column-toggle-container">
  <button class="dropdown button stick-and-fill-right adjust-width" type="button" [attr.data-toggle]="columnView">
    Column toggle
  </button>

  <div id="{{columnView}}" class="dropdown-pane" data-dropdown data-hover="true" data-hover-pane="true">
    <ul class="no-bullet tight">
      <li *ngFor="let column of columns; let i = index">
        <label>
          <input #col class="list-view" type="checkbox" name="list" [attr.data-column]="i" value="{{column.name}}"
                 (change)="onChangeColumnSelected(col.value)"
                 [checked]="isColumnSelected(col.value)">{{column.name}}
        </label>
      </li>
    </ul>
  </div>
</div>


