<div class="row expanded">

  <div class="columns medium-9">
    <div class="columns small-12 medium-12 margin-top-large">
      <iv-home-description></iv-home-description>
    </div>
    <div class="columns small-12 medium-12 margin-top-xlarge">
      <iv-search></iv-search>
    </div>
    <div class="columns small-12 medium-12 margin-top-xlarge">
      <iv-tile-menu></iv-tile-menu>
    </div>
  </div>

  <div class="columns medium-3 padding-right-xlarge">
    <div class="row margin-top-xlarge">
      <div class="columns medium-12 callout">
        <iv-featured-dataset></iv-featured-dataset>
      </div>
    </div>
    <div class="row">
      <div class="columns medium-12 callout-latest-news">
        <iv-news></iv-news>
      </div>
    </div>
    <div class="row margin-top-large">
      <div class="columns medium-12 callout-twitter">
        <iv-twitter-display></iv-twitter-display>
      </div>
    </div>
    <div class="row margin-top-large">
      <div class="columns medium-12 callout">
        <iv-newsletter></iv-newsletter>
      </div>
    </div>

  </div>

</div>




