<div [ngStyle]="{'visibility':!hasRoute('home') ? 'visible': 'hidden'}" id="intact-local-search">
  <div id="localSearchBox" class="no-margin white-border">
    <input #query class="typeahead frosty-glass" type="text" name="first" id="local-searchbox"
           (keydown.enter)="search(query.value, 'enter')"
           placeholder="Search by gene names, UniProt ACs, Pubmed, protein names, Complex ACs"/>
    <button id="local-search-button" class="button"
            (click)="search(query.value, 'button')">
      <i class="icon icon-common icon-search"></i>
    </button>

  </div>
</div>
