<div *ngIf="!hasRoute('home')" id="intact-local-search">
  <div id="searchBox" class="no-margin white-border">
        <button id="local-search-button" class="button"
               (click)="search(query.value, 'button')">
          <i class="icon icon-common icon-search"></i>
        </button>

        <input #query class="typeahead frosty-glass" type="text" name="first" id="local-searchbox"
               (keydown.enter)="search(query.value, 'enter')"
               placeholder="Gene name(s), UniProt AC(s), Pubmed, Protein name(s), Complex Ac"/>

  </div>
</div>
