
  <div class="row button-grid" data-equalizer data-equalize-on="medium" id="large-button-grid">
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns intact-background" data-equalizer-watch routerLink="/interactomes">
        <h3 class="icon icon-species white-color" data-icon="M"></h3>
        <h5 class="white-color">Interactomes</h5></a>
    </div>
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns intact-background" data-equalizer-watch routerLink="/documentation/datasets/">
        <h3 class="icon icon-common white-color" data-icon="&#xf187;"></h3>
        <h5 class="white-color">Datasets</h5></a>
    </div>
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns intact-background" data-equalizer-watch routerLink="/documentation/datasets/" fragment="mutations">
        <h3 class="icon icon-generic white-color" data-icon="d"></h3>
        <h5 class="white-color">Mutations</h5></a>
    </div>
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns intact-background" data-equalizer-watch routerLink="/download/" fragment="ftp">
        <h3 class="icon icon-common white-color" data-icon="&#xf019;"></h3>
        <h5 class="white-color">FTP</h5></a>
    </div>
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns industry-background" data-equalizer-watch routerLink="/documentation/data_submission">
        <h3 class="icon icon-common white-color" data-icon="&#xf093;"></h3>
        <h5 class="white-color">Data Submission</h5></a>
    </div>
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns industry-background" data-equalizer-watch  data-open="citationModal">
        <h3 class="icon icon-generic white-color" data-icon="P"></h3>
        <h5 class="white-color">How To Cite Us</h5></a>
    </div>
    <div class="reveal" id="citationModal" data-reveal>
      <h3>Citing IntAct</h3>
      <span class="lead">The MIntAct project--IntAct as a common curation platform for 11 molecular interaction databases.</span>
      1035670   <p>Orchard S et al [PMID: 24234451]</p>
      <p><i>Nucl. Acids Res. (2013) doi: 10.1093/nar/gkt1115</i></p>
      <a class="button readmore" href="//europepmc.org/article/MED/24234451" target="_blank">Abstract</a>
      <a class="button readmore" href="//academic.oup.com/nar/article/42/D1/D358/1051282" target="_blank">Full text</a>

      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns industry-background" data-equalizer-watch routerLink="/documentation">
        <h3 class="icon icon-common white-color" data-icon="&#xf283;"></h3>
        <h5 class="white-color">Documentation</h5></a>
    </div>
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns training-background" data-equalizer-watch href="//www.ebi.ac.uk/training">
        <h3 class="icon icon-generic white-color" data-icon="t"></h3>
        <h5 class="white-color">Training</h5></a>
    </div>
  </div>
