
  <div class="row button-grid" data-equalizer data-equalize-on="medium" id="large-button-grid">
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns" data-equalizer-watch href="#">
        <h3 class="icon icon-species white-color" data-icon="H"></h3>
        <h5 class="white-color">Interactomes</h5></a>
    </div>
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns" data-equalizer-watch href="#">
        <h3 class="icon icon-generic white-color" data-icon="D"></h3>
        <h5 class="white-color">Datasets</h5></a>
    </div>
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns" data-equalizer-watch href="#">
        <h3 class="icon icon-generic white-color" data-icon="d"></h3>
        <h5 class="white-color">Mutations</h5></a>
    </div>
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns" data-equalizer-watch href="#">
        <h3 class="icon icon-generic white-color" data-icon="y"></h3>
        <h5 class="white-color">FTP</h5></a>
    </div>
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns industry-background" data-equalizer-watch href="#">
        <h3 class="icon icon-functional white-color" data-icon="_"></h3>
        <h5 class="white-color">Submit</h5></a>
    </div>
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns industry-background" data-equalizer-watch href="#">
        <h3 class="icon icon-generic white-color" data-icon="e"></h3>
        <h5 class="white-color">Cite Intact</h5></a>
    </div>
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns industry-background" data-equalizer-watch href="#">
        <h3 class="icon icon-generic white-color" data-icon="?"></h3>
        <h5 class="white-color">Documentation</h5></a>
    </div>
    <div class="column medium-3 small-6 text-center padding-bottom-large">
      <a class="button medium-12 columns training-background" data-equalizer-watch href="#">
        <h3 class="icon icon-generic white-color" data-icon="t"></h3>
        <h5 class="white-color">Training</h5></a>
    </div>
  </div>
