/* See this issue to understand why we need ng-deep https://github.com/jfcere/ngx-markdown/issues/56*/
ip-markdown ::ng-deep h1 {
  font-size: xx-large;
}
ip-markdown ::ng-deep h2 {
  font-size: x-large;
}
ip-markdown ::ng-deep h3 {
  font-size: large;
}
ip-markdown ::ng-deep img {
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 100px;
}
