<div class="margin-top-large margin-bottom-large row">
  <h1>About</h1>
  <ul class="tabs" data-tabs data-deep-link="true" data-update-history="false" id="about-tabs">
    <li class="tabs-title is-active"><a href="about#overview" aria-selected="true">Overview</a></li>
    <li class="tabs-title"><a href="about#collaborators">Collaborators</a></li>
    <li class="tabs-title"><a href="about#funding">Funding</a></li>
    <li class="tabs-title"><a href="about#statistics">Statistics</a></li>
    <li class="tabs-title"><a href="about#publications">Publications</a></li>
    <li class="tabs-title"><a href="about#license_privacy">License and Privacy</a></li>
    <li class="tabs-title"><a href="about#conceptual_design">Logo and Design Portfolio</a></li>
    <li class="tabs-title"><a href="about#sab">SAB</a></li>
    <li class="tabs-title"><a href="about#cite_us">Cite Us</a></li>
  </ul>

  <div class="tabs-content" data-tabs-content="about-tabs">
    <div class="tabs-panel is-active" id="overview">
      <ip-markdown [src]=overview></ip-markdown>
    </div>

    <div class="tabs-panel" id="collaborators">
      <ip-markdown [src]=collaborators></ip-markdown>
    </div>

    <div class="tabs-panel" id="funding">
      <ip-markdown [src]=funding></ip-markdown>
    </div>

    <div class="tabs-panel" id="statistics">
      <ip-markdown [data]=statistics></ip-markdown>
      <p>Work in progress</p>
    </div>

    <div class="tabs-panel" id="publications">
      <ip-markdown [src]=publications></ip-markdown>
    </div>

    <div class="tabs-panel" id="license_privacy">
      <ip-markdown [src]=license_privacy></ip-markdown>
    </div>

    <div class="tabs-panel" id="conceptual_design">
      <ip-markdown [src]=conceptual_design></ip-markdown>
    </div>

    <div class="tabs-panel" id="sab">
      <ip-markdown [src]=sab></ip-markdown>
    </div>

    <div class="tabs-panel" id="cite_us">
      <ip-markdown [src]=cite_us></ip-markdown>
    </div>
  </div>

</div>
