h4 {
  font-size: 105%;
  color: #4d4d4d;
  font-weight: 600;
}

i {
  font-size: 15pt;
  vertical-align: center;
}

.month {
  font-size: small;
  font-weight: bold;
}

.year {
  position: sticky;
  top: 20%;
  width: fit-content;
  border-radius: 25px;
  color: white;
  background-color: #68297c;

}

table {
  margin-bottom: 0;
  border: none;
}

td, th, tbody {
  border:none;
}

.accordion-content {
  padding: 0;
}
