/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'theme-colors' as theme;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();


html {
  color-scheme: light;
  @include mat.theme((
          color: (
                  primary: theme.$primary-palette,
                  tertiary: theme.$tertiary-palette,
                  theme-type: light
          ),
          typography: Helvetica,
          density: 0
  ));

  .high-contrast {
    @include theme.high-contrast-overrides('light');
  }

  .mat-mdc-slide-toggle {
    font-size: 13px;
    @include mat.slide-toggle-overrides((
            track-height: 22px,
            track-width: 43px,
            handle-width: 43px,

            state-layer-size: 20px,

            handle-height: 15px,
            with-icon-handle-size: 15px,
            pressed-handle-size: 15px,
            selected-handle-size: 15px,

            selected-icon-size: 15px,
            unselected-icon-size: 15px,

            unselected-handle-horizontal-margin: 0 4px,
            selected-handle-horizontal-margin: 0 24px,
            track-outline-color: var(--mat-sys-outline-variant)

    ));
  }


}



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include mat.all-component-themes($intact-portal-theme);

.mat-mdc-tooltip {
  font-size: small;
}
