<div class="row">

    <ul class="tabs" data-tabs id="search-tabs">
      <li class="tabs-title is-active"><a href="#panel1c" aria-selected="true">Search</a></li>
      <li class="tabs-title"><a href="#panel2c">Advanced</a></li>
      <li class="tabs-title"><a href="#panel3c">Upload</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="search-tabs">

      <!--TAB MAIN SEARCH SECTION-->
      <div class="tabs-panel is-active" id="panel1c" style="background-color:#e6e6e6;">

        <!--<form id="mainSearch" name="content-search">-->
          <div class="row margin-top-large">
            <div id="searchBox" class="columns small-11">
              <textarea #query class="typeahead" type="text" placeholder="example"></textarea>
            </div>
              <input id="home-search-button" class="button margin-top-small" type="submit"
                     (click)="search(query.value, 'button')" value="Search"/>
          </div>

          <!--<div class="row column small margin-top-xsmall">-->
            <!--Examples:-->
             <!--<span>-->
               <!--<ul>-->
                 <!--<li>Gene, Protein, RNA or Chemical name:  BRCA2,  Staurosporine</li>-->
                 <!--<li>UniProtKB or ChEBI AC: Q06609,  CHEBI:15996</li>-->
                 <!--<li>UniProtKB ID: LCK_HUMAN</li>-->
                 <!--<li>RNACentral ID: URS00004C95F4_559292</li>-->
                 <!--<li>PMID: 25416956</li>-->
                 <!--<li>IMEx ID: IM-23318</li>-->

               <!--</ul>-->
             <!--</span>-->
          <!--</div>-->

          <!--<div class="row margin-top-large">-->
            <!--<div class="small-12 columns">-->
              <!--&lt;!&ndash;<input id="home-search-button" class="button" type="submit" value="Search"/>&ndash;&gt;-->
              <!--<input id="home-search-clear-button" class="secondary hollow button" type="button" value="Clear"/>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
      </div>

      <!--TAB ADVANCED SECTION-->
      <div class="tabs-panel" id="panel2c" style="background-color:#e6e6e6;">
        <div class="row margin-top-large">
          <div id="multiple-datasets" class="columns small-12">
            <textarea class="typeahead" type="text" placeholder="Advanced search...."></textarea>
          </div>
        </div>
      </div>

      <!--TAB UPLOAD FILE SECTION-->
      <div class="tabs-panel" id="panel3c" style="background-color:#e6e6e6;">

        <form id="iSearch" name="content-search" action="[search-action]" method="get">
          <div class="row margin-top-large">
            <!--<div id="searchBox3" class="columns small-12">-->
              <!--<textarea id="autocomplete" type="text" placeholder="Search..." rows="5"></textarea>-->
            <!--</div>-->
          </div>
        </form>

      </div>

    </div>
</div>
