<div class="row">
  <div class="columns medium-12">

    <ul class="tabs" data-tabs id="search-tabs">
      <li class="tabs-title is-active"><a href="#panel1c" aria-selected="true">Search</a></li>
      <li class="tabs-title"><a href="#panel2c">Advanced</a></li>
      <li class="tabs-title"><a href="#panel3c">Upload</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="search-tabs">

      <div class="tabs-panel is-active" id="panel1c" style="background-color:#e6e6e6;">

        <form id="main-search" name="content-search" action="[search-action]" method="get">
          <div class="row margin-top-large">
            <div class="columns small-12">
              <textarea placeholder="Placeholder text..." rows="5"></textarea>
            </div>
          </div>
          <div class="row column small margin-top-xsmall">
            Examples:
             <span>
               <ul>
                 <li>Gene, Protein, RNA or Chemical name:  BRCA2,  Staurosporine</li>
                 <li>UniProtKB or ChEBI AC: Q06609,  CHEBI:15996</li>
                 <li>UniProtKB ID: LCK_HUMAN</li>
                 <li>RNACentral ID: URS00004C95F4_559292</li>
                 <li>PMID: 25416956</li>
                 <li>IMEx ID: IM-23318</li>

               </ul>
             </span>
          </div>

          <div class="row margin-top-large">
            <div class="small-12 columns">
              <input id="home-search-button" class="button" type="submit" value="Search"/>
              <input id="home-search-clear-button" class="secondary hollow button" type="button" value="Clear"/>
            </div>
          </div>
        </form>
      </div>

      <div class="tabs-panel" id="panel2c" style="background-color:#e6e6e6;">
        <p>Advanced section here</p>

      </div>

      <div class="tabs-panel" id="panel3c" style="background-color:#e6e6e6;">
        <p>works!</p>
        <!--<form id="content-search" name="content-search" action="[search-action]" method="get">-->
          <!--<div class="input-group margin-bottom-none">-->
            <!--<input type="text" name="first" id="content-searchbox" class="input-group-field">-->
            <!--&lt;!&ndash;<div class="input-group-button">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="submit" name="submit" value="1" class="button icon icon-functional">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</div>-->
        <!--</form>-->

      </div>

    </div>

    <!--<form id="content-search" name="content-search" action="[search-action]" method="post">-->
    <!--<h4>Search this project</h4>-->
    <!--<fieldset>-->
    <!--<div class="input-group margin-bottom-none">-->
    <!--<input type="text" name="first" id="content-searchbox" class="input-group-field">-->
    <!--<div class="input-group-button">-->
    <!--<input type="submit" name="submit" value="1" class="button icon icon-functional">-->
    <!--</div>-->
    <!--</div>-->
    <!--<small class="">-->
    <!--&lt;!&ndash; If your search is more complex than just a keyword search, you can link to an Advanced Search &ndash;&gt;-->
    <!--<span class="adv"><a href="../search" id="adv-search" title="Advanced">Advanced</a></span>-->
    <!--|-->
    <!--&lt;!&ndash; Include some example searchterms - keep them short and few. &ndash;&gt;-->
    <!--<a href="[search-url-1]">[search-1]</a>-->
    <!--<a href="[search-url-1]">[search-2]</a>-->
    <!--<a href="[search-url-1]">[search-3]</a>-->
    <!--</small>-->
    <!--</fieldset>-->
    <!--</form>-->
  </div>
</div>
