<div class="row expanded">

  <div class="columns medium-12">
    <div class="columns medium-9">
      <div class="columns small-12 medium-12 margin-top-large">
        <ip-home-description></ip-home-description>
      </div>
      <div class="columns small-12 medium-12 margin-top-xlarge">
        <ip-search></ip-search>
      </div>
      <div class="columns small-12 medium-12 margin-top-xlarge">
        <ip-tile-menu></ip-tile-menu>
      </div>
    </div>

    <div class="columns medium-3">
      <div class="row margin-top-large">
          <ip-featured-dataset></ip-featured-dataset>
      </div>
      <div class="row margin-top-large">
          <ip-news></ip-news>
      </div>
      <div class="row margin-top-large">
          <ip-twitter-display></ip-twitter-display>
      </div>
      <div class="row margin-top-large">
          <ip-newsletter-subscription></ip-newsletter-subscription>
      </div>
    </div>
  </div>
</div>


