<div class="row expanded home-max-width">

    <div class="columns medium-12">

        <div class="columns medium-9">
            <div class="columns small-12 medium-12 margin-top-large">
                <ip-home-description></ip-home-description>
            </div>
            <div class="columns small-12 medium-12 margin-top-large">
                <div class="row callout callout-latest-news">
                    <h5>
                        <i class="icon icon-common icon-bullhorn intact-color"></i>
                        We need your help!
                    </h5>
                        Has IntAct saved you time or effort?
                        Please take 15 minutes to fill in a survey
                        and help
                        EMBL-EBI make the case for why open data resources are critical to life science research.
                    <a href="https://www.surveymonkey.com/r/QGFMBH8">Click here to fill in the survey</a>
                </div>
            </div>
            <div class="columns small-12 medium-12 margin-top-xlarge">
                <ip-search></ip-search>
            </div>
            <div class="columns small-12 medium-12 margin-top-xlarge">
                <ip-tile-menu></ip-tile-menu>
            </div>
        </div>

        <div class="columns medium-3">
            <div class="columns medium-10">
                <div class="row">
                    <ip-featured-dataset></ip-featured-dataset>
                </div>
                <div class="row">
                    <ip-news></ip-news>
                </div>
                <div class="row">
                    <ip-twitter-display></ip-twitter-display>
                </div>
                <div class="row">
                    <ip-newsletter-subscription></ip-newsletter-subscription>
                </div>
            </div>
        </div>
    </div>
</div>
