#details-viewer h4 {
  border-bottom-style: solid;
  border-color: #5a2e6e3d;
}

#interaction-viewer-container {
  height: 600px;
  background: #fbfbfb;
}

#complexViewerSVG {
  height: 100%;
  width: 100%;
  display: block;
}

div#viewerLegend {
  /*background-color: #e6e6e6;*/
  height: 480px;
}

.image-center {
  text-align: center;
}

#annotations-select {
  width: auto;
}

#colours {
  height: 102px;
  min-height: auto;
  overflow-y: auto;
}

table#colourViewer {
  margin-bottom: 0rem
}

table#colourViewer tbody tr {
  background-color: white;
  line-height: 0.5;
  font-size: 15px;
}

/* Styling of right click menu in the viewer */
.protein {
  cursor: crosshair;
}

/*you need this to stop horrible looking flickering of text as you drag*/
svg {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.xlv_text {
  /*font-weight: bold;*/
  text-shadow: -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
  /*   -2px -1px 0 white,
      2px -1px 0 white,
      -2px 1px 0 white,
      2px 1px 0 white;*/
}


.custom-menu-margin {
  padding: 20px;
  display: none;
  z-index: 10000;
  position: absolute;
}


.custom-menu {
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  background: #FFF;
  color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  pointer-events: all;
}

.custom-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom-menu li {
  padding: 8px 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.custom-menu li:hover {
  background-color: #DEF;
}

.barScale {
  display: inline;
  padding-left: 10px;
}

.barScale label {
  display: unset;
}

.barScale label > [type='checkbox'], label > [type='radio'] {
  margin-right: 0.5rem;
  margin-left: 0.25rem;
  margin-bottom: 0;
}

.scrollbar {
  background-color: unset;
  /*float: left;*/
  /*height: 200px;*/
  /*margin-bottom: 25px;*/
  /*margin-left: 22px;*/
  /*margin-top: 40px;*/
  /*width: 65px;*/
  scrollbar-width: thin;
  scrollbar-color: #90A4AE #CFD8DC;
}
