#details-viewer h4 {
  border-bottom-style: solid;
  border-color: #5a2e6e3d;
}

#interaction-viewer-container {
  height: 600px;
  background: #fbfbfb;
}

.complexViewerSVG {
  height: 100%;
  width: 100%;
  display: block;
}

div#viewerLegend {
  height: 600px;
}

.image-center {
  text-align: center;
}

#annotations-select {
  width: auto;
}

#colours {
  min-height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

table.color-key {
  margin-bottom: 1rem;
}

table.color-key tbody tr {
  background-color: white;
  font-size: 15px;
}

/* Styling of right click menu in the viewer */
.protein {
  cursor: crosshair;
}

/*you need this to stop horrible looking flickering of text as you drag*/
svg {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.xlv_text {
  /*font-weight: bold;*/
  text-shadow: -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
  /*   -2px -1px 0 white,
      2px -1px 0 white,
      -2px 1px 0 white,
      2px 1px 0 white;*/
}


.custom-menu-margin {
  padding: 20px;
  display: none;
  z-index: 10000;
  position: absolute;
}


.custom-menu {
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  background: #FFF;
  color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  pointer-events: all;
}

.custom-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom-menu li {
  padding: 8px 12px;
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.custom-menu input {
  cursor: pointer;
}
.custom-menu li:hover {
  background-color: #DEF;
}

.custom-menu li:nth-child(1) {
  cursor: pointer;
}

.custom-menu li:nth-child(2) {
  display: flex;
  flex-direction: row;
}

.barScale {
  padding-left: 10px;
}

.barScale label {
  display: unset;
}

.barScale label > [type='checkbox'], label > [type='radio'] {
  margin-right: 0.5rem;
  margin-left: 0.25rem;
  margin-bottom: 0;
}

.scrollbar {
  background-color: unset;
  /*float: left;*/
  /*height: 200px;*/
  /*margin-bottom: 25px;*/
  /*margin-left: 22px;*/
  /*margin-top: 40px;*/
  /*width: 65px;*/
  scrollbar-width: thin;
  scrollbar-color: #90A4AE #CFD8DC;
}

td.legend-label {
  padding: 2px 2px 2px 0.5rem;
}

.tooltip[display="none"] {
  display: none;
}

.color-key td:nth-child(1) {
  width: 90px;
}

.color-key td {
  padding: 0.4rem;
}

.color-key thead {
  background-color: white;
  border: none;
}
