#details-viewer h4 {
  border-bottom-style: solid;
  border-color: #5a2e6e3d;
}

#interaction-viewer-container {
  height: 600px;
  background: #fbfbfb;
}

.complexViewerSVG {
  height: 100%;
  width: 100%;
  display: block;
}

.image-center {
  text-align: center;
}

#annotations-select {
  width: auto;
}

#legend {
  overflow: auto;
  max-height: 699px;
  margin-bottom: 0;
}

@media print, screen and (min-width: 64em) {
  #legend {
    max-height: 657px;
  }
}

tr.legend-group {
  background-color: white !important;
}

table.color-key tr {
  background: #fbfbfb;
}

table.color-key tbody {
  border: none;
}

td.color-square {
  width: 1.7rem;
  height: 1.7rem;
}

/* Styling of right click menu in the viewer */
.protein {
  cursor: crosshair;
}

/*you need this to stop horrible looking flickering of text as you drag*/
svg {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.xlv_text {
  text-shadow: -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}


.custom-menu-margin {
  padding: 20px;
  display: none;
  z-index: 10000;
  position: absolute;
}


.custom-menu {
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  background: #FFF;
  color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  pointer-events: all;
}

.custom-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom-menu li {
  padding: 8px 12px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.custom-menu input {
  cursor: pointer;
}

.custom-menu li:hover {
  background-color: #DEF;
}

.custom-menu li:nth-child(1) {
  cursor: pointer;
}

.custom-menu li:nth-child(2) {
  display: flex;
  flex-direction: row;
}

.barScale {
  padding-left: 10px;
}

.barScale label {
  display: unset;
}

.barScale label > [type='checkbox'], label > [type='radio'] {
  margin-right: 0.5rem;
  margin-left: 0.25rem;
  margin-bottom: 0;
}

td.legend-label {
  padding: 2px 2px 2px 0.5rem;
}

.tooltip[display="none"] {
  display: none;
}


@keyframes rect-to-circle-morph {
  20% {
    x: 1;
    y: 6;
    rx: 0;
    height: 18px;
    width: 98px;
  }

  30% {
    x: 35;
    y: 1;
    rx: 14;
    width: 28px;
    height: 28px;
  }

  70% {
    x: 35;
    y: 1;
    rx: 14;
    width: 28px;
    height: 28px;
  }

  80% {
    x: 1;
    y: 6;
    rx: 0;
    height: 18px;
    width: 98px;
  }
}

#rect-to-circle {
  stroke-width: 2;
  stroke: black;
  paint-order: markers fill stroke;
  fill: none;
  animation: rect-to-circle-morph 5s ease infinite;
}

@keyframes rect-tick-morph {
  20% {
    y: 17;
    height: 8px;
  }

  30% {
    y: 29;
    height: 0;
  }

  70% {
    y: 29;
    height: 0;
  }

  80% {
    y: 17;
    height: 8px;
  }
}

#rect-tick {
  animation: rect-tick-morph 5s ease infinite;
  stroke-width: 0;
  fill: black;
}

#protein-svg {
  height: 15pt;
  vertical-align: middle;
}

.no-padding {
  text-align: center;
}

.node-diagram {
  height: 17pt;
}
