h4 {
  border-bottom-style: solid;
  border-color:#5ca23561;
}

#dataset-group{
  display: flex;
  align-items: stretch;
}

#dataset-group > .button {
  margin-right: 1px !important;
  margin-bottom: 1px !important;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

#dataset-group .button:last-of-type {
  margin-right: 0 !important;
}
