h4 {
    border-bottom-style: solid;
    border-color: #5ca23561;
}

#dataset-group {
    display: flex;
    align-items: stretch;
}

#dataset-group > .dropdown-container {
    margin-right: 1px !important;
    margin-bottom: 1px !important;
}

#dataset-group > .dropdown-container:last-of-type {
    margin-right: 0 !important;
}







